@{
    ViewData["Title"] = "Profile";
    @section Stylesheets {
    <link rel="stylesheet" href="~/css/comment_section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/postitem.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    }
    @section Scripts {
    <script src="~/js/profile.js" asp-append-version="true"></script>
    }
}
@{
    string? userId = User.FindFirst("nameid")?.Value ?? null;
    string? username = User.FindFirst("unique_name")?.Value ?? null;
    string? userPicture = User.FindFirst("actort")?.Value ?? null;
}
<template id="profileInfoInstance">
    <div class="profile_details">
        <div class="pr-header">
            <div class="pr-img_cont">
                <img src="" alt=""
                    onerror="this.onerror=null; this.closest('.pr-img_cont').remove()">
            </div>
            <div class="pr-name">
                <span class="pr-username"></span>
                <span class="pr-displayname"></span>
            </div>
        </div>
        <span class="pr-bio"></span>
        <div class="pr-properties">

        </div>
        <div class="pr-email_cont">
            <span class="pr-email"></span>
            <a class="pr-verifyemail">(Verify)</a>
        </div>
        <span class="pr-gold"></span>
        <div class="pr-stats">
            <span>User stats</span>
            <div class="prs-userstats">
                <div class="prs-column">
                    <span class="stat-reputation"></span>
                    <span>REP</span>
                </div>
                <div class="prs-column">
                    <span class="stat-follow"></span>
                    <span>Follows</span>
                </div>
                <div class="prs-column">
                    <span class="stat-gifts"></span>
                    <span>Gifts</span>
                </div>
            </div>
            <span>Post stats</span>
            <div class="pr-postingstats">
                <div class="prs-column">
                    <span class="stat-likes"></span>
                    <span>Likes</span>
                </div>
                <div class="prs-column">
                    <span class="stat-saved"></span>
                    <span>Saved</span>
                </div>
                <div class="prs-column">
                    <span class="stat-posts"></span>
                    <span>Posts</span>
                </div>
            </div>
        </div>
    </div>
</template>
<div class="profile-cont">
    <div class="profile_details-cont">
        <div class="profile_details-skel">
            <div class="prskel-header">
                <div class="prskel-img_cont"></div>
                <span class="prskel-name"></span>
            </div>
            <div class="prskel-bio">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="prskel-stats-cont">
                <span class="prskel-stats_header">
                    User stats
                </span>
                <div class="prskel-stats">
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>REP</span>
                    </div>
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>Follows</span>
                    </div>
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>Gifts</span>
                    </div>
                </div>
                <span class="prskel-stats_header">
                    Post stats
                </span>
                <div class="prskel-stats">
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>Likes</span>
                    </div>
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>Saved</span>
                    </div>
                    <div class="prskel-stat_column">
                        <span></span>
                        <span>Posts</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-tabs-cont">
        <div class="profile-tabs-mobile">
            <a data-tab="posts"><i class="bi bi-card-text"></i></a>
            <a data-tab="reviews"><i class="bi bi-chat-right"></i></a>
            <a data-tab="saved"><i class="bi bi-bookmark"></i></a>
            <a data-tab="followed"><i class="bi bi-heart"></i></a>
            <a data-tab="friends"><i class="bi bi-people"></i></a>
        </div>
        <div class="profile-tabs-desktop">
            <a data-tab="posts"><span>Posts</span></a>
            <a data-tab="reviews"><span>Reviews</span></a>
            <a data-tab="saved"><span>Saved</span></a>
            <a data-tab="followed"><span>Followed</span></a>
            <a data-tab="friends"><span>Friends</span></a>
            <a id="refresh_ptab"><i class="bi bi-arrow-clockwise"></i></a>
        </div>
        <div id="profile-body">
            <div id="profile-posts">

            </div>
            <div id="profile-reviews">

            </div>
            <div id="profile-saved">

            </div>
            <div id="profile-followed">

            </div>
            <div id="profile-friends">
                <div class="s-friends">
                    <div class="sf-header">
                        <div class="searchF-wrap">
                            <i class="bi bi-search"></i>
                            <input type="text" placeholder="Search friend" class="searchF">
                        </div>
                        <button class="addfriend">
                            Friend <i class="bi bi-plus"></i>
                        </button>
                    </div>
                    <div class="sf-list">
                        @{
                            char[] chars = {'a','b','c','d','f','g','h','i','j','k'};
                            Random random = new Random();
                            string name = "";
                            int x = 0;
                            int y = 0;
                            int z = random.Next(10, 30);
                        }
                        @for(int i = 0; i < z; i++){
                            name = "";
                            y = random.Next(5, 15);
                            @for(int f = 0; f < y; f++){
                                x = random.Next(0,10);
                                name += chars[x];
                            }
                            <div class="sf-usercont">
                                <div class="userpic">
                                    <img src="/images/users/user_no_photo.png">
                                </div>
                                <div class="username">
                                    <a href="#">@name</a>
                                </div>
                                <div class="usermenubtn">
                                    <i class="bi bi-caret-down-fill"></i>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>