@{
    ViewData["Title"] = "Profile";
    @section Stylesheets {
    <link rel="stylesheet" href="~/css/comment_section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/postitem.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    }
    @section Scripts {
    <script src="~/js/profile.js" asp-append-version="true"></script>
    }
}
@{
    string? userId = User.FindFirst("nameid")?.Value ?? null;
    string? username = User.FindFirst("unique_name")?.Value ?? null;
    string? userPicture = User.FindFirst("actort")?.Value ?? null;
}
<div class="profile-cont">
    <div class="profile-details">
        <div class="pr-header">
            <div class="pr-img_cont">
                <img src="/images/onerror/user_no_photo.png" alt="" onerror="this.onerror=null; this.closest('.pr-img_cont').remove()">
            </div>
            <div class="pr-name">
                <span class="pr-username">(mrathletic)</span>
                <span class="pr-displayname">MrBombastic</span>
            </div>
        </div>
        <span class="pr-bio">This is my bio. Lalala, no one can change this lalala, camon lazy irşat come here and change this shit when you are ready. When is that? Probably next year!</span>
        <div class="pr-properties">
            <span class="pr-nsfw_warning">NSFW <i class="bi bi-exclamation-circle"></i></span>
            <span class="pr-moderator">Moderator <i class="bi bi-shield"></i></span>
        </div>
        <div class="pr-email_cont">
            <span class="pr-email">irsat000@gmail.com</span>
            <a class="pr-verifyemail">(Verify)</a>
        </div>
        <span class="pr-gold">6546 <i class="bi bi-coin"></i></span>
        <div class="pr-stats">
            <span>User stats</span>
            <div class="prs-userstats">
                <div class="prs-column">
                    <span class="stat-reputation">313</span>
                    <span>REP</span>
                </div>
                <div class="prs-column">
                    <span class="stat-follow">104</span>
                    <span>Follow</span>
                </div>
                <div class="prs-column">
                    <span class="stat-gifts">26 + 9</span>
                    <span>Gift</span>
                </div>
            </div>
            <span>Post stats</span>
            <div class="pr-postingstats">
                <div class="prs-column">
                    <span class="stat-likes">987</span>
                    <span>Like</span>
                </div>
                <div class="prs-column">
                    <span class="stat-follow">54</span>
                    <span>Saved</span>
                </div>
                <div class="prs-column">
                    <span class="stat-gifts">10 + 4</span>
                    <span>Post</span>
                </div>
            </div>
        </div>
    </div>
    <div class="profile-tabs-cont">
        <div class="profile-tabs-mobile">
            <a data-tab="posts"><i class="bi bi-card-text"></i></a>
            <a data-tab="reviews"><i class="bi bi-chat-right"></i></a>
            <a data-tab="saved"><i class="bi bi-bookmark"></i></a>
            <a data-tab="followed"><i class="bi bi-heart"></i></a>
            <a data-tab="friends"><i class="bi bi-people"></i></a>
        </div>
        <div class="profile-tabs-desktop">
            <a data-tab="posts"><span>Posts</span></a>
            <a data-tab="reviews"><span>Reviews</span></a>
            <a data-tab="saved"><span>Saved</span></a>
            <a data-tab="followed"><span>Followed</span></a>
            <a data-tab="friends"><span>Friends</span></a>
        </div>
        <div id="profile-body">
            <div id="profile-posts">

            </div>
            <div id="profile-reviews">
                
            </div>
            <div id="profile-saved">
                
            </div>
            <div id="profile-followed">
                
            </div>
            <div id="profile-friends">
                
            </div>
        </div>
    </div>
</div>