@{
    ViewData["Title"] = "Create";
    @section Stylesheets {
        <link rel="stylesheet" href="~/css/create.css" asp-append-version="true" />
    }
    @section Scripts {
        <script src="~/js/create.js" asp-append-version="true" ></script>
    }
}


<div class="filter-taglist-cont modalbg-base-1 opacity1" id="create-tag_list_modal">
    <div class="filter-taglist">
        <div class="taglist-header">
            <input type="text" class="taglist-searchbar" id="taglist-searchbar" placeholder="Search tag">
            <i class="bi bi-x-lg" id="c-taglist-close"></i>
        </div>
        <ul class="" id="c-taglist-list" data-action="include">
            <li data-taglistvalue="action">Action</li>
            <li data-taglistvalue="comedy">Comedy</li>
            <li data-taglistvalue="fantasy">Fantasy</li>
            <li data-taglistvalue="romance">Romance</li>
            <li data-taglistvalue="dram">Dram</li>
            <li data-taglistvalue="horror">Horror</li>
            <li data-taglistvalue="adventure">Adventure</li>
            <li data-taglistvalue="science_fiction">Science fiction</li>
        </ul>
    </div>
</div>

<div class="filter-serieslist-cont modalbg-base-1 opacity1" id="create-serieslistmodal">
    <div class="filter-serieslist">
        <div class="fsl-header">
            <input type="text" class="serieslist-searchbar" id="serieslist-searchbar" placeholder="Search">
            <i class="bi bi-x-lg" id="csl-close"></i>
        </div>
        <div class="fsl-filters">
            <select>
                <option value="0">Type</option>
                <option value="1">Movie</option>
                <option value="2">TV Show</option>
                <option value="3">Game</option>
                <option value="4">Book</option>
                <option value="5">Anime/Manga</option>
                <option value="6">Cartoon/Comic</option>
                <option value="7">Other</option>
            </select>
            <select>
                <option value="0">A-Z</option>
                <option value="Others">Others</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Q">Q</option>
                <option value="R">R</option>
                <option value="S">S</option>
                <option value="T">T</option>
                <option value="U">U</option>
                <option value="V">V</option>
                <option value="W">W</option>
                <option value="X">X</option>
                <option value="Y">Y</option>
                <option value="Z">Z</option>
            </select>
        </div>
        <ul class="f-serieslist-list" id="c-serieslist-list">
            <li data-seriesval="Overlord">Overlord</li>
            <li data-seriesval="Harry_Potter">Harry Potter</li>
            <li data-seriesval="The_Boys">The Boys</li>
            <li data-seriesval="Stranger_Things">Stranger Things</li>
            <li data-seriesval="Breaking_Bad">Breaking Bad</li>
            <li data-seriesval="Game_of_Thrones">Game of Thrones</li>
            <li data-seriesval="Hunger_Games">Hunger Games</li>
            <li data-seriesval="Pirates_of_the_Caribbean">Pirates of the Caribbean</li>
        </ul>
    </div>
</div>


<div class="create_content-container">
    <div class="cc-header">
        <h2>Create</h2>
        <select id="create-category">
            <optgroup label="Fiction">
                <option value="Novel">Novel</option>
                <option value="Fanfiction">Fanfiction</option>
                <option value="Graphical">Graphical</option>
                <option value="Script">Script</option>
                <option value="Plot">Plot</option>
            </optgroup>
            <optgroup label="Others">
                <option value="Community_post">Community post</option>
            </optgroup>
        </select>
    </div>
    <div class="cc-body">
        <div class="cc-community_post" id="community_post-form">
            <div class="cp-primary">
                <div class="cp-primary-header">
                    <input type="text" placeholder="Title" name="title">
                </div>
                <div class="cp-primary-body">
                    <textarea placeholder="Description" name="description"></textarea>
                    <div class="description-tools"></div>
                </div>
            </div>

            <div class="cp-footer">
                <button type="button" class="cp-cancel">Cancel</button>
                <button type="button" class="cp-post">Post</button>
            </div>
        </div>
        
        <div class="cc-fiction active" id="fiction-form">
            <div class="ff-primary">
                <div class="ff-primary-header">
                    <input type="text" placeholder="Title" name="title">
                </div>
                <div class="ff-primary-body">
                    <textarea placeholder="Description" name="description"></textarea>
                    <div class="description-tools"></div>
                </div>
            </div>

            <div class="ff-info">
                <div class="ff-properties-cont">
                    <select name="language">
                        <option value="0">Language</option>
                        <option value="1">Turkish</option>
                        <option value="2">English</option>
                        <option value="3">French</option>
                        <option value="4">German</option>
                        <option value="5">Japanese</option>
                    </select>
                    <select name="ratedas">
                        <option value="0">Rated as</option>
                        <option value="1">E - Everyone</option>
                        <option value="2">T - 13+</option>
                        <option value="3">M - 15+</option>
                        <option value="4">A - 18+</option>
                    </select>
                </div>
                <div class="ff-coverimage-cont">
                    <span>Cover Image(?)</span>
                    <div class="ff-coverimage-wrap">
                        <input type="file" id="uploadCoverImg" name="coverimg">
                    </div>
                </div>
                <div class="ff-coverimage_preview-cont" id="coverimage_preview">
                    <img src="">
                </div>
                <div class="ff-tags-cont">
                    <div class="fftags-header">
                        <h3>Tags</h3>
                        <button type="button" id="ff-open_taglist-btn">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                    <div class="fftags-body">
                        
                    </div>
                </div>
                <div class="ff-series-cont">
                    <div class="ffseries-header">
                        <h3>Series</h3>
                        <button type="button" id="ff-open_serieslist-btn">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                    <div class="ffseries-body">

                    </div>
                </div>
            </div>

            <div class="ff-footer">
                <div class="ff-cancelbtn-cont">
                    <button type="button" class="ff-cancel">Cancel</button>
                </div>
                <div class="ff-savebtn-cont">
                    <button type="button" class="ff-save_draft">Save Draft</button>
                    <button type="button" class="ff-save_and_continue">Save & Continue</button>
                </div>
            </div>
        </div>
    </div>
</div>


