@{
    ViewData["Title"] = "Home";
    @section Stylesheets {
        <link rel="stylesheet" href="~/css/index.css" />
    }
    @section Scripts {
        <script src="~/js/index.js"></script>
    }
}
<div class="linkgroups">
    <div class="linkgroup_cont readingtime">
        <span>Reading Time</span>
        <div class="linkgroup">
            <div class="link_cont">
                <i class="bi bi-book-half"></i>
                <span>Original</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-book"></i>
                <span>Fanfiction</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-card-text"></i>
                <span>Plot</span>
            </div>
        </div>
    </div>
    <div class="linkgroup_cont aboutyou">
        <span>About You</span>
        <div class="linkgroup">
            <div class="link_cont">
                <i class="bi bi-journals"></i>
                <span>Library</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-archive"></i>
                <span>My Stuff</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-clock-history"></i>
                <span>History</span>
            </div>
        </div>
    </div>
    <div class="linkgroup_cont misclinks">
        <div class="linkgroup">
            <div class="link_cont">
                <i class="bi bi-sliders2"></i>
                <span>Customize</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-people"></i>
                <span>Community</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-newspaper"></i>
                <span>News</span>
            </div>
            <div class="link_cont">
                <i class="bi bi-mortarboard"></i>
                <span>Tutorials</span>
            </div>
        </div>
    </div>
</div>