@model GetpostViewmodel
@{
    ViewData["Title"] = "Post";
    @section Stylesheets {
    <link rel="stylesheet" href="~/css/comment_section.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
    }
    @section Scripts {
    <script src="~/js/post.js" asp-append-version="true"></script>
    }
}
@{
    string userId = "-1";
    string username = "";
    string userPicture = "none";

    userId = User.Claims.FirstOrDefault(claim => claim.Type == "nameid")?.Value ?? "-1";
    username = User.Claims.FirstOrDefault(claim => claim.Type == "unique_name")?.Value ?? "";
    userPicture = User.Claims.FirstOrDefault(claim => claim.Type == "actort")?.Value ?? "none";
}
<input type="hidden" value="@Model.postid" id="postid">

<template id="getpost_instance">
    <div class="post-2" data-postid="">
        <div class="post-card">
            <div class="p-body">
                <div class="p-cover">
                    <img src="/images/covers/" class="p-basecover"
                        onerror="this.onerror=null; this.closest('.p-cover').remove()">
                    <div class="p-upscalecover-cont" id="p-upscalecover">
                        <img src="/images/covers/" class="p-upscalecover">
                        <i class="bi bi-zoom-in"></i>
                    </div>
                </div>
                <div class="p-text">
                    <div class="p-title-cont">
                        <span class="p-title">

                        </span>
                        <span class="p-date">

                        </span>
                    </div>
                    <span class="p-description">

                    </span>
                </div>
            </div>
            <div class="p-footer">
                <div class="p-footer-wrap">
                    <div class="p-evaluation">
                        <i class="" data-action="like" data-target_type="post"></i>
                        <span class="p-likes vote_count">--</span>
                        <i class="" data-action="dislike" data-target_type="post"></i>
                        <span class="p-rate">

                        </span>
                    </div>
                    <div class="p-user">
                        <span class="p-username">

                        </span>
                        <div class="p-uimg-cont">
                            <img src="/images/users/"
                                onerror="this.onerror=null; this.src='/images/onerror/user_no_photo_300x300.png'">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="post-more">
            <div class="p-actions">
                <button type="button" class="pd-saved">Save</button>
                <button type="button">Share</button>
                <button type="button">Report</button>
            </div>
            <div class="pd-items">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="pd-series">

            </div>
            <div class="pd-tags">

            </div>
        </div>
    </div>
</template>


<div class="modal-chapters" id="modal-chapters">
    <div class="mc-header">
        <span>Chapters</span>
        <div class="mc-close" id="mc-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
    <div class="mc-body">
        <ul id="modalchapters-list">
        </ul>
    </div>
</div>


<div class="fullsize-cover-cont" id="fullsize-cover">
    <div class="fsc-wrap" id="fsc-wrap">
        <div class="fsc-close" id="fsc-close">
            <i class="bi bi-x-lg"></i>
        </div>
    </div>
    <img src="/images/covers/" id="fsc-img">
</div>

<div class="post-wrap" id="post-wrap">

</div>

<div class="start_reading">
    <a href="#">Start Reading</a>
</div>

<div class="chapter_selection">
    <span id="get_chapters">Chapters</span>
    <a href="#">Open all</a>
</div>

<!--<div class="rate_it">
    <button>Rate again</button>
    <span>8/10</span>
</div>-->
<div class="rate_it">
    <select id="rate_it_select">
        <option value="0">--</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <button id="rate_it_btn">Rate it</button>
    <span id="rate_by_user">--/10</span>
</div>

@if (userId != "-1")
{ ///images/users/
    <div class="add_comment-cont">
        <textarea placeholder="This is where we comment." id="commentBody"></textarea>
        <div class="ac-footer">
            <div class="ac-user">
                <img src="/images/users/@userPicture"
                onerror="this.onerror=null; this.src='/images/onerror/user_no_photo_300x300.png'">
                <span class="ac-username">@username</span>
            </div>
            <a href="#" class="comment-btn" id="addCommentToPost">Send</a>
        </div>
    </div>
}

<div class="comments" id="comment-section">

</div>
