@{
    ViewData["Title"] = "Publish";
    @section Stylesheets {
        <link rel="stylesheet" href="~/css/publish.css" asp-append-version="true" />
    }
    @section Scripts {
        <script src="~/js/publish.js" asp-append-version="true" ></script>
    }
}

<div class="filter-tagdd" id="wf-addtagmodal">
    <div class="tagdd-header">
        <input type="text" class="tagdd-searchbar" id="wf-addtag-searchbar" placeholder="Search tag">
        <i class="bi bi-x-lg" id="wf-taggdd-close"></i>
    </div>
    <ul class="" id="wf-addtag-list" data-action="include">
        <li data-tagvalue="action">Action</li>
        <li data-tagvalue="comedy">Comedy</li>
        <li data-tagvalue="fantasy">Fantasy</li>
        <li data-tagvalue="romance">Romance</li>
        <li data-tagvalue="dram">Dram</li>
        <li data-tagvalue="horror">Horror</li>
        <li data-tagvalue="adventure">Adventure</li>
        <li data-tagvalue="science_fiction">Science fiction</li>
    </ul>
</div>
<div class="filter-addseries" id="wf-addseriesmodal">
    <div class="fadds-header">
        <input type="text" class="fadds-searchbar" id="wf-addseries-searchbar" placeholder="Search">
        <i class="bi bi-x-lg" id="wf-addseries-close"></i>
    </div>
    <div class="fadds-dropdowns">
        <select>
            <option value="Type">Type</option>
            <option value="Book">Book</option>
            <option value="Movie">Movie</option>
            <option value="TV Show">TV Show</option>
            <option value="Game">Game</option>
            <option value="Anime">Anime</option>
            <option value="Cartoon">Cartoon</option>
            <option value="Comic/Manga">Comic/Manga</option>
        </select>
        <select>
            <option value="AZ">A-Z</option>
            <option value="Others">Others</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
            <option value="G">G</option>
            <option value="H">H</option>
            <option value="I">I</option>
            <option value="J">J</option>
            <option value="K">K</option>
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="N">N</option>
            <option value="O">O</option>
            <option value="P">P</option>
            <option value="Q">Q</option>
            <option value="R">R</option>
            <option value="S">S</option>
            <option value="T">T</option>
            <option value="U">U</option>
            <option value="V">V</option>
            <option value="W">W</option>
            <option value="X">X</option>
            <option value="Y">Y</option>
            <option value="Z">Z</option>
        </select>
    </div>
    <ul class="fadds-list" id="wf-addseries-list">
        <li data-seriesval="Overlord">Overlord</li>
        <li data-seriesval="Harry_Potter">Harry Potter</li>
        <li data-seriesval="The_Boys">The Boys</li>
        <li data-seriesval="Stranger_Things">Stranger Things</li>
        <li data-seriesval="Breaking_Bad">Breaking Bad</li>
        <li data-seriesval="Game_of_Thrones">Game of Thrones</li>
        <li data-seriesval="Hunger_Games">Hunger Games</li>
        <li data-seriesval="Pirates_of_the_Caribbean">Pirates of the Caribbean</li>
    </ul>
</div>

<div class="createpost">
    <div class="swap_form">
        <div class="sf-swapformbtn sf-swaptowriting">
            <span id="sf-swapToWriting">Write</span>
            <div class="sf-icon d-block" id="sf-w_icon"></div>
        </div>
        <div class="sf-swapformbtn sf-swaptorequest">
            <span id="sf-swapToRequest">Request</span>
            <div class="sf-icon" id="sf-r_icon"></div>
        </div>
    </div>
    <form class="writing_form d-flex" id="writing_form">
        <div class="wf-post_body">
            <div class="wf-post_primary">
                <span>Title</span>
                <input class="wf-title" type="text" name="title" placeholder="Title">
                <span>Description</span>
                <textarea class="wf-description" name="description" placeholder="Description"></textarea>
            </div>
            <div class="wf-post_details">
                <div class="wf-language">
                    <span>Language:</span>
                    <select name="postlan">
                        <option value="0">Language</option>
                        <option value="1">English</option>
                        <option value="2">Turkish</option>
                        <option value="3">French</option>
                        <option value="4">German</option>
                        <option value="5">Japanese</option>
                    </select>
                </div>
                <div class="wf-type">
                    <span>Type:</span>
                    <select name="type">
                        <option value="0">Type</option>
                        <option value="story">Story</option>
                        <option value="scenario">Scenario</option>
                        <option value="fanfiction">Fanfiction</option>
                        <option value="plot">Plot</option>
                    </select>
                </div>
                <div class="wf-ratedas">
                    <span>Rated as:</span>
                    <select name="postratedas">
                        <option value="0">Rate</option>
                        <option value="1">Sexual I</option>
                        <option value="2">Sexual II</option>
                        <option value="3">Sexual III</option>
                        <option value="4">Violence I</option>
                        <option value="5">Violence II</option>
                        <option value="6">Violence III</option>
                        <option value="7">Mix I</option>
                        <option value="8">Mix II</option>
                        <option value="9">Mix III</option>
                    </select>
                </div>
                <div class="wf-addtag">
                    <button type="button" id="wf-addtagbtn">Add Tag <i class="bi bi-plus"></i></button>
                </div>
                <div class="wf-tags">
                    <!--<span data-wftag="action">Action<i class="bi bi-x-circle wf-removespanbtn"></i></span>-->
                </div>
                
                <div class="wf-addseries">
                    <button type="button" id="wf-addseriesbtn">Series <i class="bi bi-plus"></i></button>
                </div>
                <div class="wf-fanfic_series">
                    <!--<span data-wfseries="harry_potter">Harry Potter<i class="bi bi-x-circle wf-removespanbtn"></i></span>-->
                </div>
            </div>
        </div>
        <div class="wf-submit">
            <input type="submit" value="Save"></input>
        </div>
    </form>
    <form class="request_form" id="request_form">
        <div class="rf-post_primary">
            <span>Title</span>
            <input class="rf-title" type="text" name="title" placeholder="Title">
            <span>Description</span>
            <textarea class="rf-description" name="body" placeholder="Description"></textarea>
        </div>
        <div class="rf-submit">
            <input type="submit" value="Send"></input>
        </div>
    </form>
</div>

