@{
    ViewData["Title"] = "Publish";
    @section Stylesheets {
        <link rel="stylesheet" href="~/css/publish.css" asp-append-version="true" />
    }
    @section Scripts {
        <script src="~/js/publish.js" asp-append-version="true" ></script>
    }
}

<div class="createpost">
    <div class="swap_form">
        <div class="sf-swapformbtn sf-swaptowriting">
            <span id="sf-swapToWriting">Write</span>
            <div class="sf-icon d-block" id="sf-w_icon"></div>
        </div>
        <div class="sf-swapformbtn sf-swaptorequest">
            <span id="sf-swapToRequest">Request</span>
            <div class="sf-icon" id="sf-r_icon"></div>
        </div>
    </div>
    <form class="writing_form d-flex" id="writing_form">
        <div class="wf-post_body">
            <div class="wf-post_primary">
                <span>Title</span>
                <input class="wf-title" type="text" name="title" placeholder="Title">
                <span>Description</span>
                <textarea class="wf-description" name="description" placeholder="Description"></textarea>
            </div>
            <div class="wf-post_details">
                <div class="wf-language">
                    <span>Language:</span>
                    <select>
                        <option>English</option>
                        <option>Turkish</option>
                        <option>German</option>
                        <option>Japanese</option>
                        <option>Russian</option>
                    </select>
                </div>
                <div class="wf-type">
                    <span>Type:</span>
                    <select>
                        <option>Story</option>
                        <option>Scenario</option>
                        <option>Fanfiction</option>
                        <option>Plot</option>
                    </select>
                </div>
                <div class="wf-addtag">
                    <button type="button">Add Tag <i class="bi bi-plus"></i></button>
                </div>
                <div class="wf-tags">
                    <span data-wftag="action">Action<i class="bi bi-x-circle wf-removespanbtn"></i></span>
                    <span data-wftag="comedy">Comedy<i class="bi bi-x-circle wf-removespanbtn"></i></span>
                    <span data-wftag="fantasy">Fantasy<i class="bi bi-x-circle wf-removespanbtn"></i></span>
                </div>
                
                <div class="wf-addseries">
                    <button type="button">Series <i class="bi bi-plus"></i></button>
                </div>
                <div class="wf-fanfic_series">
                    <span data-wfseries="overlord">Overlord<i class="bi bi-x-circle wf-removespanbtn"></i></span>
                    <span data-wfseries="harry_potter">Harry Potter<i class="bi bi-x-circle wf-removespanbtn"></i></span>
                </div>
            </div>
        </div>
        <div class="wf-submit">
            <input type="submit" value="Save"></input>
        </div>
    </form>
    <form class="request_form" id="request_form">
        <div class="rf-post_primary">
            <span>Title</span>
            <input class="rf-title" type="text" name="title" placeholder="Title">
            <span>Description</span>
            <textarea class="rf-description" name="body" placeholder="Description"></textarea>
        </div>
        <div class="rf-submit">
            <input type="submit" value="Send"></input>
        </div>
    </form>
</div>

