


main{
    width: 100%;
    padding: 10px;
    border-radius: 16px;
    color: var(--text-color1);
    background-color: var(--background-color1);
}

.ch-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 18px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0 22px;
    .ch-options{
        display: flex;
        justify-content: space-between;
        a, span{
            font-size: 1.2rem;
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .ch-navigation{
        display: flex;
        justify-content: space-between;
        font-family: 'Itim', cursive;
        select{
            color: var(--text-color1);
            background: var(--background-color2);
            padding: 4px 8px;
            border-radius: 5px;
            font-size: 1.1rem;
            cursor: pointer;
            transition: background-color 0.1s;
            &:hover{
                background-color: var(--background-color-hover2);
            }
        }
        .ch-navigationicons{
            display: flex;
            gap: 10px;
            a{
                font-size: 1.2rem;
                border-radius: 5px;
                background-color: var(--background-color2);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 34px;
                transition: background-color 0.1s;
                i{
                    display: flex;
                }
                &:hover{
                    background-color: var(--background-color-hover2);
                }
            }
            .ch-prevlink{
                padding-right: 2px;
            }
            .ch-nextlink{
                padding-left: 2px;
            }
        }
    }
}

.ch-author_note{
    display: flex;
    flex-direction: column; 
    margin-bottom: 26px;
    .note_caption{
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
    }
    .authornote_body{
        font-family: sans-serif;
        padding: 0 10px;
    }
}

.ch-caption{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
    text-align: center;
    h3{
        font-family: 'Josefin Sans', sans-serif;
    }
    h5{
        font-family: 'Itim', cursive;
    }
}

.ch-end{
    text-align: center;
    margin-bottom: 20px;
    span{
        font-family: 'Itim', cursive;
    }
}

.ch-footer{
    font-family: 'Itim', cursive;
    display: flex;
    flex-flow: wrap;
    padding: 0 10px 10px;
    margin-bottom: 20px;
    justify-content: center;
    gap: 10px;
    
    .ch-evaluation{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        color: var(--text-color2);
        i{
            font-size: 1.2rem;
            cursor: pointer;
            transition: color 0.2s ease;
        }
        .ch-likes{
            padding: 0 8px;
        }
    }
    .ch-user{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-shrink: 0;
        .ch-username{
            font-size: 0.8rem;
            cursor: pointer;
            margin-left: 8px;
            padding-right: 8px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 180px;
            &:hover{
                text-decoration: underline;
            }
        }
        img{
            height: 1.7rem;
            width: 1.7rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}



.ch-body{
    margin-bottom: 16px;
    text-align: justify;
    p{
        margin-bottom: 12px;
    }
}














// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main{
        padding: 14px 20px;
        margin-top: 14px;
    }
    .ch-header{
        flex-direction: row;
        > *{
           gap: 40px;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}