@-webkit-keyframes cskel-loading-div {
  0% {
    background-color: var(--commentskeleton-itemcolor-start);
  }
  100% {
    background-color: var(--commentskeleton-itemcolor-end);
  }
}
@keyframes cskel-loading-div {
  0% {
    background-color: var(--commentskeleton-itemcolor-start);
  }
  100% {
    background-color: var(--commentskeleton-itemcolor-end);
  }
}
@-webkit-keyframes cskel-loading-i {
  0% {
    color: var(--commentskeleton-itemcolor-start);
  }
  100% {
    color: var(--commentskeleton-itemcolor-end);
  }
}
@keyframes cskel-loading-i {
  0% {
    color: var(--commentskeleton-itemcolor-start);
  }
  100% {
    color: var(--commentskeleton-itemcolor-end);
  }
}
.comment-skel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
  border-top: 2px solid var(--background-color2);
}
.comment-skel div.csk-item {
  height: 16px;
  border-radius: 10px;
  opacity: 0.5;
  -webkit-animation: cskel-loading-div 1s linear infinite alternate;
          animation: cskel-loading-div 1s linear infinite alternate;
}
.comment-skel i.csk-item {
  opacity: 0.7;
  -webkit-animation: cskel-loading-i 1s linear infinite alternate;
          animation: cskel-loading-i 1s linear infinite alternate;
}
.comment-skel .cskel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-skel .cskel-header .cskel-user {
  width: 120px;
  max-width: 60%;
}
.comment-skel .cskel-header i {
  display: flex;
}
.comment-skel .cskel-header i:first-of-type {
  font-size: 2rem;
  margin-right: 10px;
}
.comment-skel .cskel-header i:last-of-type {
  margin: -20px 0 -20px auto;
  font-size: 3rem;
}
.comment-skel .cskel-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.comment-skel .cskel-body > div:last-child {
  width: 80%;
}
.comment-skel .cskel-footer {
  display: flex;
  align-items: center;
}
.comment-skel .cskel-footer .cskel-evaluation {
  height: 20px;
  width: 130px;
  max-width: 40%;
}
.comment-skel .cskel-footer .cskel-btn {
  margin-left: 16px;
  width: 70px;
  max-width: 30%;
  height: 20px;
}

a.reply_target {
  display: inline;
  text-decoration: underline;
  font-family: "Itim";
  color: var(--text-color2);
  background-color: var(--background-color2);
  padding: 3px 6px;
  line-height: 1.6rem;
  border-radius: 4px;
  cursor: pointer;
}

.add_comment-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 6px;
  align-self: center;
}
.add_comment-cont textarea {
  background-color: var(--background-color2);
  color: var(--text-color1);
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 6px 8px;
  min-height: 70px;
  margin-bottom: 10px;
  font-family: "Gudea", sans-serif;
  font-size: 0.8rem;
}
.add_comment-cont .ac-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 6px;
  font-family: "Itim", cursive;
}
.add_comment-cont .ac-footer .ac-user {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.add_comment-cont .ac-footer .ac-user .ac-username {
  font-size: 0.9rem;
  cursor: pointer;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.add_comment-cont .ac-footer .ac-user .ac-username:hover {
  text-decoration: underline;
}
.add_comment-cont .ac-footer .ac-user img {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.add_comment-cont .ac-footer .comment-btn {
  font-size: 1.3rem;
  transition: font-size 0.1s ease;
  color: var(--text-color1);
  text-decoration: underline;
  margin-left: auto;
  cursor: pointer;
}
.add_comment-cont .ac-footer .comment-btn:hover {
  text-decoration: underline;
}

.comment-cont {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px 0 14px;
  border-top: 2px solid var(--background-color2);
}
.comment-cont .comment {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.comment-cont .comment .c-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 6px;
  font-family: "Itim", cursive;
}
.comment-cont .comment .c-header img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
}
.comment-cont .comment .c-header .c-username {
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.comment-cont .comment .c-header .c-date {
  color: var(--text-color2);
  font-size: 0.7rem;
  font-family: "Gudea";
}
.comment-cont .comment .c-header .c-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  padding: 0 10px;
  font-size: 1.6rem;
  cursor: pointer;
}
.comment-cont .comment .c-header .c-menu i {
  display: flex;
}
.comment-cont .comment .c-header .c-menupopup {
  display: none;
  position: absolute;
  top: 30px;
  right: 12px;
  padding: 6px 4px;
  border-radius: 6px;
  font-size: 1rem;
  background-color: var(--comment-menu-bgcolor);
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.25);
}
.comment-cont .comment .c-header .c-menupopup li {
  padding: 3px 10px;
  border-bottom: 1px solid var(--background-color6);
  white-space: nowrap;
  transition: background-color 0.1s ease;
  cursor: pointer;
}
.comment-cont .comment .c-header .c-menupopup li:hover {
  background-color: var(--background-color5);
}
.comment-cont .comment .c-header .c-menupopup li:first-child {
  border-radius: 6px 6px 0 0;
}
.comment-cont .comment .c-header .c-menupopup li:last-child {
  border-radius: 0 0 6px 6px;
  border-bottom: unset;
}
.comment-cont .comment .c-header .lightmode .c-menupopup {
  box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1) !important;
}
.comment-cont .comment .c-text {
  padding: 0px 10px;
  margin: 6px 0;
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
  line-height: 1rem;
}
.comment-cont .comment .c-text span {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.comment-cont .comment .c-footer {
  font-family: "Itim", cursive;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
}
.comment-cont .comment .c-footer .c-evaluation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  color: var(--text-color2);
}
.comment-cont .comment .c-footer .c-evaluation i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.comment-cont .comment .c-footer .c-evaluation .c-likes {
  padding: 0 8px;
}
.comment-cont .comment .c-footer .c-evaluation .c-replybtn {
  cursor: pointer;
  margin-left: 14px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color1);
  padding: 2px 0 0;
  margin-bottom: -1px;
}
.comment-cont .comment .c-footer .c-evaluation .c-replybtn:hover {
  text-decoration: underline;
}
.comment-cont .comment .c-footer .get_replies {
  background-color: var(--reply-bgcolor);
  padding: 4px 26px;
  border-radius: 6px 6px 0 0;
  text-decoration: underline;
  margin-left: auto;
  cursor: pointer;
}
.comment-cont .reply {
  display: flex;
  flex-direction: column;
  width: 92%;
  border-radius: 6px 0 6px 6px;
  background-color: var(--reply-bgcolor);
  padding: 6px 0;
}
.comment-cont .reply .r-text {
  padding: 0 10px 6px;
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
  line-height: 1rem;
}
.comment-cont .reply .r-footer {
  font-family: "Itim", cursive;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.comment-cont .reply .r-footer .r-evaluation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 6px;
  color: var(--text-color2);
}
.comment-cont .reply .r-footer .r-evaluation i {
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.comment-cont .reply .r-footer .r-evaluation .r-likes {
  padding: 0 6px;
}
.comment-cont .reply .r-footer .r-evaluation .r-gotoreply {
  cursor: pointer;
  margin-left: 14px;
  font-family: "Gudea", sans-serif;
  color: var(--text-color1);
}
.comment-cont .reply .r-footer .r-user {
  display: flex;
  align-items: center;
  padding-right: 6px;
  margin-left: auto;
}
.comment-cont .reply .r-footer .r-user .r-username {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.comment-cont .reply .r-footer .r-user img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
}

.modal-replies {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 98%;
  max-width: 500px;
  max-height: 90%;
  background-color: var(--background-color2);
  box-shadow: 0px 0px 14px 4px var(--div-boxshadow1);
  border-radius: 20px 20px 10px 10px;
  font-family: "Itim", cursive;
  z-index: 200;
  padding-bottom: 6px;
}
.modal-replies .mr-header {
  border-bottom: 2px solid var(--background-color3);
  display: flex;
  flex-direction: row;
}
.modal-replies .mr-header span {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
  margin-right: auto;
}
.modal-replies .mr-header .mr-close {
  cursor: pointer;
  padding: 4px 12px 0px;
  font-size: 1.8rem;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
}
.modal-replies .mr-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  min-height: 200px;
  gap: 15px;
  padding-bottom: 10px;
}
.modal-replies .mr-body .mr-comment-cont {
  display: flex;
  flex-direction: column;
}
.modal-replies .mr-body .mr-replies-cont {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.modal-replies .mr-body .mr-comment {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 6px 5px;
}
.modal-replies .mr-body .mr-comment .mrc-header {
  display: flex;
  align-items: center;
  font-family: "Itim", cursive;
  flex-wrap: wrap;
}
.modal-replies .mr-body .mr-comment .mrc-header img {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.modal-replies .mr-body .mr-comment .mrc-header .mrc-username {
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.modal-replies .mr-body .mr-comment .mrc-header .mrc-date {
  color: var(--text-color2);
  font-size: 0.7rem;
  font-family: "Gudea";
}
.modal-replies .mr-body .mr-comment .mrc-header .mrc-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  padding: 0 10px;
  font-size: 1.6rem;
  cursor: pointer;
}
.modal-replies .mr-body .mr-comment .mrc-header .mrc-menu i {
  display: flex;
}
.modal-replies .mr-body .mr-comment .mrc-text {
  margin: 10px 0;
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
  line-height: 1rem;
}
.modal-replies .mr-body .mr-comment .mrc-text span {
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modal-replies .mr-body .mr-comment .mrc-footer .mrc-evaluation {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--text-color2);
}
.modal-replies .mr-body .mr-comment .mrc-footer .mrc-evaluation i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.modal-replies .mr-body .mr-comment .mrc-footer .mrc-evaluation .mrc-likes {
  padding: 0 8px;
}
.modal-replies .mr-body .mr-comment .mrc-footer .mrc-evaluation .mrc-replybtn {
  cursor: pointer;
  margin-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color1);
  padding: 2px 0 0;
  margin-bottom: -1px;
}
.modal-replies .mr-body .mr-comment .mrc-footer .mrc-evaluation .mrc-replybtn:hover {
  text-decoration: underline;
}
.modal-replies .mr-body .mr-reply {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--replies-bgcolor);
  padding: 6px 4px 3px;
}
.modal-replies .mr-body .mr-reply .mrr-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.modal-replies .mr-body .mr-reply .mrr-header img {
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  cursor: pointer;
}
.modal-replies .mr-body .mr-reply .mrr-header .mrr-username {
  font-size: 0.8rem;
  cursor: pointer;
  margin: 0 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.modal-replies .mr-body .mr-reply .mrr-header .mrr-date {
  color: var(--text-color2);
  font-size: 0.7rem;
  font-family: "Gudea";
}
.modal-replies .mr-body .mr-reply .mrr-header .mrr-menu {
  margin-left: auto;
  display: flex;
  height: 100%;
  padding: 0 7px;
  font-size: 1.6rem;
  cursor: pointer;
}
.modal-replies .mr-body .mr-reply .mrr-header .mrr-menu i {
  display: flex;
}
.modal-replies .mr-body .mr-reply .mrr-text {
  margin-bottom: 4px;
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
  line-height: 1rem;
}
.modal-replies .mr-body .mr-reply .mrr-text span {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.modal-replies .mr-body .mr-reply .mrr-footer {
  font-family: "Itim", cursive;
  display: flex;
  flex-flow: wrap;
  align-items: center;
}
.modal-replies .mr-body .mr-reply .mrr-footer .mrr-evaluation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--text-color2);
}
.modal-replies .mr-body .mr-reply .mrr-footer .mrr-evaluation i {
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.2s ease;
  display: flex;
}
.modal-replies .mr-body .mr-reply .mrr-footer .mrr-evaluation .mrr-likes {
  padding: 0 4px;
}
.modal-replies .mr-body .mr-reply .mrr-footer .mrr-evaluation .mrr-replybtn {
  cursor: pointer;
  margin-left: 8px;
  font-family: "Josefin Sans", sans-serif;
  color: var(--text-color1);
  margin-bottom: -3px;
  font-size: 0.9rem;
}
.modal-replies .mr-body .mr-reply .mrr-footer .mrr-evaluation .mrr-replybtn:hover {
  text-decoration: underline;
}
.modal-replies .mr-body .add_reply-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 6px 0;
  align-self: center;
}
.modal-replies .mr-body .add_reply-cont .replyfieldBody {
  background-color: var(--background-color1);
  color: var(--text-color1);
  width: 100%;
  border: none;
  outline: none;
  padding: 6px 8px;
  min-height: 60px;
  margin-bottom: 6px;
  font-family: "Gudea", sans-serif;
  font-size: 0.8rem;
  border-radius: 4px;
  overflow: auto;
  text-align: justify;
}
.modal-replies .mr-body .add_reply-cont .ar-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 6px;
  font-family: "Itim", cursive;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .ar-user {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .ar-user .ar-username {
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .ar-user .ar-username:hover {
  text-decoration: underline;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .ar-user img {
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  cursor: pointer;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .cancel_addreply-btn {
  font-size: 1.1rem;
  transition: font-size 0.1s ease;
  color: var(--text-color2);
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .cancel_addreply-btn:hover {
  text-decoration: underline;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .send_reply-btn {
  font-size: 1.1rem;
  transition: font-size 0.1s ease;
  color: var(--text-color1);
  cursor: pointer;
}
.modal-replies .mr-body .add_reply-cont .ar-footer .send_reply-btn:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .modal-replies {
    max-width: 650px;
    max-height: 60%;
  }
  .modal-replies .mr-comment .mrc-text {
    padding: 0 10px;
    font-size: 0.9rem;
  }
  .modal-replies .mr-body .mr-reply {
    padding: 6px 10px 3px;
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .modal-replies {
    max-width: 900px;
  }
}/*# sourceMappingURL=comment_section.css.map */