body {
  background-color: var(--background-color1);
}

header {
  border-bottom: 1px solid var(--background-color2);
}

.nav__tutorials-cont {
  display: flex;
  flex-direction: column;
  gap: 20px 20px;
}

nav.nav_index {
  display: flex;
  flex-direction: column;
  width: 100%;
}
nav.nav_index > span {
  margin: 10px 0 4px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
}
nav.nav_index .link_group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid var(--background-color2);
  border-bottom: 1px solid var(--background-color2);
}
nav.nav_index .link_group .link_cont {
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
nav.nav_index .link_group .link_cont i {
  font-size: 2rem;
  text-align: center;
  height: 32px;
  display: flex;
}
nav.nav_index .link_group .link_cont span {
  text-align: center;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 1rem;
  font-family: "Itim";
}
nav.nav_index .link_group .link_cont:hover > span {
  font-size: 1.1rem;
  text-decoration: underline;
}
nav.nav_index .link_group .link_cont i.bi-person {
  font-size: 2.3rem;
}
nav.nav_index .community_links {
  margin-top: 6px;
}

.tutorials {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tutorials .featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 2%;
}
.tutorials .featured .swiper-cont {
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 10px;
  position: relative;
}
.tutorials .featured .swiper-cont .swiper-images {
  width: 100%;
  height: 100%;
}
.tutorials .featured .swiper-cont .swiper-images a {
  width: inherit;
  height: inherit;
  display: none;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}
.tutorials .featured .swiper-cont .swiper-images a img {
  width: inherit;
  height: inherit;
  border-radius: 10px;
}
.tutorials .featured .swiper-cont .swiper-images a.active {
  display: block;
}
.tutorials .featured .swiper-cont .fswipe-prev,
.tutorials .featured .swiper-cont .fswipe-next {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding: 6px;
  z-index: 200;
}
.tutorials .featured .swiper-cont .fswipe-prev i,
.tutorials .featured .swiper-cont .fswipe-next i {
  font-size: 1.6rem;
  display: flex;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2509803922);
  opacity: 0.3;
  transition: all 0.1s ease-in-out;
}
.tutorials .featured .swiper-cont .fswipe-prev i:hover,
.tutorials .featured .swiper-cont .fswipe-next i:hover {
  opacity: 1;
}
.tutorials .featured .swiper-cont .fswipe-prev {
  left: 0;
}
.tutorials .featured .swiper-cont .fswipe-next {
  right: 0;
}
.tutorials .featured .featured_description {
  width: 100%;
}
.tutorials .featured .featured_description .fdesc {
  display: none;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--cont-bordercolor1);
  padding: 10px;
  flex-direction: column;
}
.tutorials .featured .featured_description .fdesc h4 {
  margin-bottom: 10px;
  font-family: "Josefin Sans";
  font-size: 1.1rem;
}
.tutorials .featured .featured_description .fdesc span {
  font-family: "Gudea";
  font-size: 0.9rem;
}
.tutorials .featured .featured_description .fdesc.active {
  display: flex;
}
.tutorials .tcates-title {
  margin: 14px 0 6px;
  font-size: 1.8rem;
  font-family: "Josefin Sans";
  text-align: center;
}
.tutorials .tutorial-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 6px 1%;
  margin: 0 -0.5%;
  padding: 0 5px;
  justify-content: center;
}
.tutorials .tutorial-categories .tcate {
  width: 49%;
  padding: 10px 8px;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  transition: all 0.1s ease-in-out;
  background-color: var(--tcate-bgcolor);
  border: 1px solid var(--cont-bordercolor1);
}
.tutorials .tutorial-categories .tcate:hover {
  background-color: var(--tcate-hover);
}
.tutorials .tutorial-categories .tcate .tcate-icon {
  display: none;
  align-items: center;
  flex-shrink: 0;
  padding-right: 4px;
}
.tutorials .tutorial-categories .tcate .tcate-icon i {
  font-size: 2rem;
  display: flex;
}
.tutorials .tutorial-categories .tcate .tcate-body {
  flex-grow: 1;
  font-size: 12px;
}
.tutorials .tutorial-categories .tcate .tcate-body h5 {
  font-size: 1.1em;
  font-family: "Josefin Sans";
  margin-bottom: unset;
}
.tutorials .tutorial-categories .tcate .tcate-body span {
  font-size: 0.9em;
  font-family: "Gudea";
  padding: 0 4px;
}

.topposts_group {
  display: flex;
  flex-direction: column;
  gap: 14px 3%;
  margin-top: 20px;
}
.topposts_group .postlist_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topposts_group .postlist_cont .top_header {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Doppio One";
  margin-bottom: 10px;
}
.topposts_group .postlist_cont .postlist {
  width: 100%;
}
.topposts_group .postlist_cont .postlist .post {
  margin-bottom: 12px;
  background-color: var(--index-post-bg-color);
}
.topposts_group .postlist_cont .postlist .post .p-info {
  background-color: var(--index-post-bg-color);
}
.topposts_group .postlist_cont .postlist .post .usercard-onhover {
  background-color: var(--index-post-bg-color) !important;
}
@media (min-width: 576px) {
  .tutorials .tutorial-categories .tcate {
    width: 32%;
  }
}
@media (min-width: 768px) {
  .nav__tutorials-cont {
    flex-direction: row;
    gap: 20px;
  }
  nav.nav_index {
    width: 340px;
  }
  nav.nav_index .link_group {
    padding: 10px 0 6px;
    background-color: var(--link_group-bg-color);
    border: 1px solid var(--cont-bordercolor1);
    border-radius: 10px;
    margin-bottom: 16px;
  }
  nav.nav_index .link_group:last-child {
    margin-bottom: unset;
  }
  nav.nav_index .link_group .link_cont {
    gap: 6px;
  }
  .tutorials {
    padding: 20px;
  }
  .tutorials .featured {
    flex-direction: row;
  }
  .tutorials .featured .swiper-cont {
    width: 60%;
  }
  .tutorials .featured .featured_description {
    width: 40%;
    font-size: 12px;
  }
  .tutorials .tcates-title {
    text-align: left;
    margin: 20px 0 10px 10px;
    font-size: 2.1rem;
  }
  .tutorials .tutorial-categories {
    padding: unset;
  }
  .topposts_group {
    flex-direction: row;
    justify-content: space-between;
    /*
    .postlist_cont {
        .postlist {
            .post {
            }
        }
    }*/
  }
}
@media (min-width: 992px) {
  .tutorials .featured_description {
    font-size: 16px !important;
  }
  .tutorials .tutorial-categories .tcate .tcate-body {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */