:root {
  --background-color1: #1D1D1D;
  --background-color2: #313131;
  --background-color-hover1: #373737;
  --background-color-hover2: #4E4E4E;
  --background-color-hover3: #5e5e5e;
  --background-color-hover4: #3b3b3b;
  --background-color-boxshadow1: #31313150;
  --text-color1: #ffffff;
  --text-color2: #bababa;
  --text-color-hover1: #cccccc;
  --text-color-boxshadow1: #ffffff50;
  --text-color-boxshadow2: #ffffff70;
  --headericon-color: #ffffff;
  --accountdropdown-icon-hover: #ffffff10;
  --dropdownbg-color: #313131;
  --pd-actionbtns-color: #313131;
  --shortcuticons-color: #ffffff;
  --searchplaceholder-color: #939393;
}

.lightmode {
  --background-color1: #f0f0f0;
  --background-color2: #dcdcdc;
  --background-color-hover1: #d1d8db;
  --background-color-hover2: #c5c5c5;
  --background-color-hover3: #c5c5c5;
  --background-color-hover4: #b5b5b5;
  --background-color-boxshadow1: #e5e5e550;
  --text-color1: #282828;
  --text-color2: #393939;
  --text-color-hover1: #757575;
  --text-color-boxshadow1: #00000050;
  --text-color-boxshadow2: #00000070;
  --headericon-color: #ffffff;
  --accountdropdown-icon-hover:#00000010;
  --dropdownbg-color: #e7e7e7;
  --pd-actionbtns-color: #c7c7c7;
  --shortcuticons-color: #626262;
}

/*
.darkmode{
    --background-color1: #1D1D1D;
    --background-color2: #313131;
    --background-color-hover1:#373737;
    --background-color-hover2:#4E4E4E;
    --background-color-hover3:#5e5e5e;
    --background-color-hover4:#3b3b3b;
    --background-color-boxshadow1:#31313150;

    --text-color1: #ffffff;
    --text-color2:#bababa;
    --text-color-hover1: #cccccc;
    --text-color-boxshadow1:#ffffff50;
    --text-color-boxshadow2:#ffffff70;
}*/
main {
  display: flex;
  flex-direction: column;
  color: var(--text-color1);
  position: relative;
  padding-top: 4px;
}

.linkgroups {
  display: flex;
  flex-direction: column;
}
.linkgroups .linkgroup_cont {
  width: 100%;
  background-color: var(--background-color2);
  margin-bottom: 10px;
  font-family: "Itim", cursive;
  display: flex;
  flex-direction: column;
}
.linkgroups .linkgroup_cont:last-child {
  margin-bottom: unset;
}
.linkgroups .linkgroup_cont > span {
  padding-top: 6px;
  font-size: 2rem;
  text-align: center;
}
.linkgroups .linkgroup_cont .linkgroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.linkgroups .linkgroup_cont .linkgroup .link_cont {
  width: 33%;
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.linkgroups .linkgroup_cont .linkgroup .link_cont i {
  font-size: 3rem;
  text-align: center;
}
.linkgroups .linkgroup_cont .linkgroup .link_cont span {
  text-align: center;
  transition: 0.1s;
  height: 32px;
}

.misclinks > .linkgroup {
  padding: unset;
}

.toppost_groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toppost_groups .tpgroup {
  width: 100%;
}
.toppost_groups .tpgroup .tpgroup_header {
  display: flex;
  justify-content: center;
  padding: 14px;
}
.toppost_groups .tpgroup .tpgroup_header > span {
  font-size: 1.6rem;
  font-family: "Doppio One";
}
.toppost_groups .tpgroup .post {
  margin-bottom: 12px;
  background-color: var(--background-color2);
  overflow: hidden;
  max-height: 260px;
}
.toppost_groups .tpgroup .post:last-child {
  margin-bottom: unset;
}
.toppost_groups .tpgroup .post .post-detail {
  display: flex;
  flex-direction: column;
}
.toppost_groups .tpgroup .post .post-detail .p-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-title {
  padding: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-title span {
  vertical-align: middle;
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-title span:hover {
  text-decoration: underline;
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-title .p-date {
  margin-left: 6px;
  color: var(--text-color2);
  font-size: 0.7rem;
  font-family: "Gudea";
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-menu {
  display: flex;
  height: 100%;
  padding: 0 10px;
  font-size: 2rem;
}
.toppost_groups .tpgroup .post .post-detail .p-header .p-menu i {
  cursor: pointer;
}
.toppost_groups .tpgroup .post .post-detail .p-body {
  padding: 0 14px;
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
  margin-bottom: 10px;
  /*text-overflow: ellipsis;
  overflow: hidden;*/
}
.toppost_groups .tpgroup .post .post-detail .p-footer {
  font-family: "Itim", cursive;
  display: flex;
  flex-direction: row;
  padding: 0 10px 10px;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-evaluation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-evaluation i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-evaluation i:hover {
  color: var(--text-color-hover1);
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-evaluation .p-likes {
  padding: 0 8px;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-evaluation .p-rate {
  margin-left: 20px;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-user .p-username {
  font-size: 0.8rem;
  cursor: pointer;
  margin-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-user .p-username:hover {
  text-decoration: underline;
}
.toppost_groups .tpgroup .post .post-detail .p-footer .pf-user img {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.toppost_groups .tpgroup .post .post-menu {
  display: none;
  flex-direction: row;
}
.toppost_groups .tpgroup .post .post-menu .pd-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-heading {
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-value {
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-tags {
  font-size: 0.7rem;
  font-family: "Gudea", sans-serif;
  margin-bottom: 8px;
  padding: 0 4px;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-tags span {
  margin-right: 6px;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-type {
  margin-bottom: 8px;
}
.toppost_groups .tpgroup .post .post-menu .pd-details .pd-poststatus {
  margin-bottom: 8px;
}
.toppost_groups .tpgroup .post .post-menu .pd-right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-close {
  display: flex;
  justify-content: end;
  padding: 4px 10px;
  font-size: 2rem;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-close i {
  cursor: pointer;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px 10px;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-actions .pd-saved {
  background-color: #4A8D5D !important;
  color: #fff;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-actions button {
  color: var(--text-color1);
  border-radius: 20px;
  background-color: var(--pd-actionbtns-color);
  outline: none;
  border: none;
  margin-bottom: 8px;
  padding: 2px 10px;
  transition: 0.2s ease;
}
.toppost_groups .tpgroup .post .post-menu .pd-right .pd-actions button:hover {
  background-color: var(--background-color-hover3);
}

@media (min-width: 768px) {
  main {
    padding-top: 20px;
  }
  .linkgroups .linkgroup_cont {
    background-color: var(--background-color1);
    border-radius: 14px;
    margin-bottom: 16px;
  }
  .linkgroups .linkgroup_cont > span {
    padding-top: unset;
    padding-bottom: 10px;
  }
  .linkgroups .linkgroup_cont .linkgroup {
    flex-wrap: nowrap;
    overflow-y: auto;
  }
  .linkgroups .linkgroup_cont .linkgroup .link_cont {
    padding: 10px;
  }
  .linkgroups .linkgroup_cont .linkgroup .link_cont:hover > span {
    font-size: 1.5rem;
    text-decoration: underline;
  }
  .linkgroups .linkgroup_cont .linkgroup span {
    font-size: 1.3rem;
  }
  .linkgroups .misclinks > .linkgroup {
    justify-content: unset;
    padding: 0 20px;
  }
  .linkgroups .misclinks > .linkgroup .link_cont {
    width: unset;
    margin: 10px 20px;
  }
  .linkgroups .misclinks > .linkgroup .link_cont:first-child {
    margin-left: auto;
  }
  .linkgroups .misclinks > .linkgroup .link_cont:last-child {
    margin-right: auto;
  }
  .toppost_groups > .tpgroup {
    width: 47%;
  }
  .toppost_groups > .tpgroup .post {
    background-color: var(--background-color1) !important;
    border-radius: 10px;
  }
}
@media (min-width: 992px) {
  .linkgroups {
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
  }
  .linkgroups .readingtime {
    width: 54%;
    padding: 20px 0;
  }
  .linkgroups .aboutyou {
    width: 42%;
    padding: 20px 0;
  }
  .linkgroups .misclinks {
    padding: 20px 0;
  }
}/*# sourceMappingURL=index.css.map */