body {
  background-color: var(--background-color1);
}

header {
  border-bottom: 1px solid var(--background-color2);
}

main {
  display: flex;
  flex-direction: column;
}

nav.nav_index {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
nav.nav_index > span {
  margin: 10px 0 4px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Josefin Sans";
  font-size: 1.2rem;
}
nav.nav_index .link_group {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav.nav_index .link_group .link_cont {
  padding: 7px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}
nav.nav_index .link_group .link_cont i {
  font-size: 2rem;
  text-align: center;
  height: 32px;
  display: flex;
}
nav.nav_index .link_group .link_cont span {
  text-align: center;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 1rem;
  font-family: "Itim";
}
nav.nav_index .link_group .link_cont:hover > span {
  font-size: 1.1rem;
  text-decoration: underline;
}
nav.nav_index .link_group .link_cont i.bi-person {
  font-size: 2.3rem;
}
nav.nav_index .community_links {
  margin-top: 6px;
}

.tutorials {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tutorials .featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 2%;
}
.tutorials .featured .swiper-cont {
  width: 100%;
  aspect-ratio: 1/0.5;
  border-radius: 10px;
  background-color: red;
}
.tutorials .featured .swiper-cont img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.tutorials .featured .featured_description {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--background-color2);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.tutorials .featured .featured_description h4 {
  margin-bottom: 10px;
  font-family: "Josefin Sans";
  font-size: 1.1em;
}
.tutorials .featured .featured_description span {
  font-family: "Gudea";
  font-size: 0.9em;
}
.tutorials .tcates-title {
  margin: 14px 0 6px;
  font-size: 1.8rem;
  font-family: "Josefin Sans";
  text-align: center;
}
.tutorials .tutorial-categories {
  padding: 10px;
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    gap: 20px;
  }
  nav.nav_index {
    width: 340px;
  }
  nav.nav_index .link_group {
    padding: 10px 0 6px;
    background-color: var(--link_group-bg-color);
    border-radius: 10px;
    margin-bottom: 16px;
  }
  nav.nav_index .link_group .link_cont {
    gap: 6px;
  }
  .tutorials {
    padding: 20px;
  }
  .tutorials .featured {
    flex-direction: row;
  }
  .tutorials .featured .swiper-cont {
    width: 60%;
  }
  .tutorials .featured .featured_description {
    width: 40%;
    font-size: 12px;
  }
  .tutorials .tcates-title {
    text-align: left;
    margin: 20px 0 10px;
    font-size: 2.1rem;
  }
}
@media (min-width: 992px) {
  .featured_description {
    font-size: 16px !important;
  }
}/*# sourceMappingURL=index.css.map */