main {
    background-color: var(--background-color1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.post-wrap {
    min-height: 200px;
    margin-top: 10px;
}

.post-main {
    width: 100%;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .psection-1 {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 0 8px;
        flex-grow: 1;

        .p-cover {
            display: none;
            align-items: center;
            flex-shrink: 0;
            width: 20%;
            min-width: 90px;
            position: relative;

            .p-basecover {
                width: 100%;
                height: auto;
                max-height: 370px;
                border-radius: 4px;
                cursor: pointer;

                /*&:hover+.p-upscalecover-cont {
                    visibility: visible !important;
                    height: 120%;
                    width: 120%;
                }*/
            }

            /*.p-upscalecover-cont {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                visibility: hidden;
                cursor: pointer;
                transition: all 0.1s ease;
                z-index: 10;

                .p-upscalecover {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    filter: grayscale(50%) brightness(60%);
                }

                i {
                    position: absolute;
                    bottom: 6px;
                    right: 10px;
                    font-size: 1.4rem;
                    opacity: 0.7;
                }

                &:hover {
                    visibility: visible;
                    height: 120%;
                    width: 120%;
                }
            }*/
        }

        .p-postinfo{
            display: flex;
            flex-direction: column;

            .p-primary {
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;

                .p-title-cont {
                    display: flex;
                    margin-bottom: 10px;

                    .p-title {
                        align-self: center;
                        font-family: 'Josefin Sans', sans-serif;
                        font-weight: 600;
                        vertical-align: middle;
                    }
                    .p-menu{
                        align-self: flex-start;
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding: 0 12px;
                        margin-left: auto;

                        i {
                            cursor: pointer;
                            display: flex;
                            font-size: 2rem;
                        }
                    }

                    /*.p-date {
                        margin-left: 6px;
                        color: var(--text-color2);
                        font-size: 0.7rem;
                        font-family: 'Gudea';
                    }*/
                }
                .p-body{
                    display: flex;
                    align-items: flex-start;
                    .p-cover-mobile {
                        flex-shrink: 0;
                        padding-right: 14px;
                        width: 20%;
                        min-width: 90px;
    
                        .p-basecover {
                            width: 100%;
                            height: auto;
                            max-height: 200px;
                            border-radius: 4px;
                        }
                    }
    
                    .p-description {
                        font-size: 0.9rem;
                        font-family: 'Gudea', sans-serif;
                    }
                }
            }
    
            .p-footer {
                font-family: 'Itim', cursive;
                display: flex;
                justify-content: center;
                width: 100%;
                margin-bottom: 10px;
    
                .p-footer-wrap {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    border-radius: 4px;
                    width: 100%;
    
                    .p-evaluation {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
    
                        i {
                            font-size: 1.4rem;
                            cursor: pointer;
                            transition: color 0.2s ease;
                            color: var(--text-color2);
                        }
    
                        .p-likes {
                            font-size: 1.1rem;
                            padding: 0 8px;
                        }
                        
                        .savepost{
                            margin-left: 20px;
                        }
                        .savepost.active{
                            color: #ff7d00;
                        }
                    }
    
                    .p-user {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        flex-shrink: 0;
                        margin-left: auto;
    
                        .p-username {
                            font-size: 1rem;
                            cursor: pointer;
                            margin-left: 8px;
                            padding-right: 8px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                            max-width: 180px;
    
                            &:hover {
                                text-decoration: underline;
                            }
                        }
    
                        .p-uimg-cont {
                            img {
                                height: 1.9rem;
                                width: 1.9rem;
                                border-radius: 50%;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .p-properties, .p-series, .p-tags{
                span{
                    color: #fff;
                    outline: none;
                    border: none;
                    white-space: nowrap;
                }
            }
            .p-properties {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 6px 8px;
                margin-bottom: 10px;
                font-family: 'Gudea';
    
                span {
                    background-color: #447349;
                    border-radius: 4px;
                    padding: 2px 16px;
                }
                .pp-type{
                    background-color: #263170;
                }
                .pp-status{
                    background-color: #3e4f68;
                }
                .pp-language{
                    background-color: #315f63;
                }
            }
    
            .p-series {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 6px 8px;
                margin-bottom: 10px;
                font-family: 'Gudea';
    
                span {
                    background-color: rgb(106, 38, 55);
                    border-radius: 4px;
                    padding: 2px 16px;
                }
            }
    
            .p-tags {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 6px;
                font-family: 'Itim', cursive;
    
                span {
                    background-color: rgb(103 138 144);
                    border-radius: 20px;
                    padding: 2px 10px;
                    font-size: 0.8rem;
                }
            }

            .pi-details {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 14%;
                margin-top: 10px;
                white-space: nowrap;
                color: var(--text-color1);

                .pi-detail-column {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    i {
                        font-size: 1.2rem;
                    }

                    span {
                        font-size: 1rem;
                        font-family: 'Itim', cursive;
                    }
                }
            }
        }
    }

    .psection-2 {
        display: flex;
        flex-direction: column;
        padding: 10px;
        flex-grow: 1;
        gap: 10px;
        .p-readbtn-cont{
            display: flex;
            justify-content: space-between;
            font-family: 'Josefin Sans', sans-serif;
            width: 100%;
            flex-wrap: wrap;
            gap: 6px;
            .start_reading, #get_chapters{
                transition: background-color 0.2s ease;
                font-size: 1.1rem;
                padding: 5px 16px 1px;
                border-radius: 6px;
                color: #fff;
                border: none;
                outline: none;
            }
            .start_reading {
                background-color: #742020;
                &:hover {
                    background-color: #8e3232;
                }
            }

            #get_chapters {
                background-color: #47626e;
                &:hover {
                    background-color: #517585;
                }
            }
        }
        .rate-table{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            tr{
                .rt-type{
                    text-align: right;
                    font-size: 1.2rem;
                    font-family: 'Josefin Sans';
                    padding-top: 3px;
                }
                td:last-child{
                    display: flex;
                    gap: 5px;
                    padding-left: 14px;
                    i{
                        font-size: 1.2rem;
                    }
                }
            }
        }
        /*.p-actions {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 6px 8px;
            padding-bottom: 16px;
            font-family: 'Gudea';

            .pd-saved {
                background-color: #4A8D5D !important;
                color: #fff;
            }

            button {
                color: var(--text-color1);
                border-radius: 20px;
                background-color: var(--pd-actionbtns-color2);
                outline: none;
                border: none;
                padding: 2px 20px 1px;
                transition: 0.2s ease;

                &:hover {
                    background-color: var(--pd-actionbtns-color-hover2);
                }
            }
        }*/        
    }

}

.back-to-read {
    display: none;
    padding-left: 14px;
    color: var(--text-color1);
    font-size: 1.2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: underline;

    a {
        padding-top: 4px;
        margin-bottom: -4px;
        float: left;

        &:hover {
            text-decoration: underline;
        }
    }
}


.fullsize-cover-cont {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 600;

    .fsc-wrap {
        width: 100%;
        height: 100vh;
        position: relative;
        background-color: rgba(0, 0, 0, 0.6);

        .fsc-close {
            z-index: 602;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            padding: 10px 14px;
            font-size: 2.2rem;
            text-shadow: 0px 0px 6px var(--text-color-boxshadow1);
        }
    }

    img {
        z-index: 601;
        max-width: 100%;
        max-height: 100vh;
        margin: auto;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        -webkit-box-shadow: 0px 0px 36px 17px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 0px 36px 17px rgba(0, 0, 0, 0.7);
        box-shadow: 0px 0px 36px 17px rgba(0, 0, 0, 0.7);
    }
}

.rate_it {
    width: 100%;
    margin-bottom: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-family: 'Josefin Sans', sans-serif;

    select {
        outline: none;
        border: none;
        border-radius: 4px;
        padding: 2px 10px 2px 0;
        margin-right: 16px;
        height: 30px;
        width: 60px;
        font-size: 1.2rem;
        font-family: 'Gudea', sans-serif;
        text-align: right;
        color: var(--text-color1);
        background-color: var(--background-color2);
    }

    button {
        background-color: rgb(60, 102, 119);
        transition: background-color 0.2s ease;
        color: #fff;
        outline: none;
        border: none;
        font-size: 1.2rem;
        border-radius: 6px;
        padding: 4px 12px 1px;

        &:hover {
            background-color: rgb(89, 125, 139);
        }
    }

    span {
        margin-left: 16px;
    }
}





.modal-chapters {
    display: none;
    //display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    width: 92%;
    max-width: 500px;
    max-height: 90%;
    background-color: var(--background-color2);
    box-shadow: 0px 0px 14px 4px var(--background-color-boxshadow1);
    border-radius: 20px 20px 10px 10px;
    font-family: "Itim", cursive;
    z-index: 200;
    padding-bottom: 6px;

    .mc-header {
        border-bottom: 2px solid var(--background-color-hover4);
        display: flex;
        flex-direction: row;

        span {
            display: flex;
            align-items: center;
            padding-left: 20px;
            font-size: 1.3rem;
            margin-right: auto;
        }

        .mc-close {
            cursor: pointer;
            padding: 4px 12px 0px;
            font-size: 1.8rem;
            text-shadow: 0px 0px 6px var(--text-color-boxshadow1);
        }
    }

    .mc-body {
        overflow-y: auto;
        padding: 6px 0 10px;

        ul {
            flex-grow: 1;

            >li {
                width: 100%;
                overflow: hidden;
                cursor: pointer;
                border-bottom: 1px solid var(--background-color-hover2);

                >a {
                    padding: 6px 20px;
                }

                &:hover {
                    background-color: var(--background-color-hover1);
                }

                &:last-child {
                    border-bottom: unset;
                }
            }
        }
    }
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .post-main {
        .p-footer-wrap {
            //width: 90% !important;
            background: var(--background-color2);
            padding: 4px 30px;

            .p-user {
                .p-uimg-cont {
                    padding: 0 7px;
                    background-color: var(--background-color2);
                    display: flex;
                    align-items: center;
                    height: 150%;
                    border-radius: 50%;
                }
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main {
        margin-top: 10px;
        padding: 10px 16px 0;
    }

    .post-main {
        .psection-1{
            flex-direction: row;
            align-items: flex-start;
            .p-cover{
                display: flex;
                min-width: 130px;
            }
            .p-body{
                .p-cover-mobile{
                    display: none;
                }
            }
        }
    }

    /*.back-to-read {
        text-decoration: unset;
    }*/
/*
    .p-upscalecover-cont {
        i {
            right: 14px !important;
            font-size: 2rem !important;
        }
    }*/

    .add_comment-cont .ac-footer .comment-btn {
        text-decoration: unset;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .post-main{
        flex-direction: row;
        .psection-2{
            flex-grow: unset;
            flex-shrink: 0;
            width: 330px;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}


//Extra
@media (max-width: 220px) {
    .rate-table tr{
        display: flex;
        flex-wrap: wrap;
    }
}