main {
  background-color: var(--background-color1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-wrap {
  min-height: 200px;
  margin-top: 10px;
}

@-webkit-keyframes pmskel-loading-divspan {
  0% {
    background-color: var(--postskeleton-itemcolor-start);
  }
  100% {
    background-color: var(--postskeleton-itemcolor-end);
  }
}

@keyframes pmskel-loading-divspan {
  0% {
    background-color: var(--postskeleton-itemcolor-start);
  }
  100% {
    background-color: var(--postskeleton-itemcolor-end);
  }
}
@-webkit-keyframes pmskel-loading-i {
  0% {
    color: var(--postskeleton-itemcolor-start);
  }
  100% {
    color: var(--postskeleton-itemcolor-end);
  }
}
@keyframes pmskel-loading-i {
  0% {
    color: var(--postskeleton-itemcolor-start);
  }
  100% {
    color: var(--postskeleton-itemcolor-end);
  }
}
.postmain-skel {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.postmain-skel span.pmsk-item,
.postmain-skel div.pmsk-item {
  opacity: 0.5;
  -webkit-animation: pmskel-loading-divspan 1s linear infinite alternate;
          animation: pmskel-loading-divspan 1s linear infinite alternate;
}
.postmain-skel i.pmsk-item {
  opacity: 0.7;
  -webkit-animation: pmskel-loading-i 1s linear infinite alternate;
          animation: pmskel-loading-i 1s linear infinite alternate;
}
.postmain-skel .pmsk-section1 {
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  gap: 14px;
  padding: 0 8px;
}
.postmain-skel .pmsk-section1 .pmsk-cover {
  display: none;
  width: 20%;
  min-width: 90px;
  border-radius: 6px;
  aspect-ratio: 1/1.7;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo {
  flex-grow: 1;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 14px 0;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-header .pmsk-title {
  width: 70%;
  border-radius: 10px;
  padding: 8px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-header .pmsk-menu {
  margin-left: auto;
  font-size: 3rem;
  display: flex;
  align-items: center;
  height: 16px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-body {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 7px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-body .pmsk-covermobile {
  width: 25%;
  min-width: 75px;
  max-width: 140px;
  border-radius: 6px;
  flex-shrink: 0;
  aspect-ratio: 1/1.5;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-body .pmsk-desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-body .pmsk-desc span {
  width: 100%;
  border-radius: 14px;
  padding: 5px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-body .pmsk-desc span:first-child {
  width: calc(100% - 18px);
  margin-left: auto;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-footer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-bottom: 8px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-footer .pmsk-evaluation {
  width: 20%;
  min-width: 75px;
  max-width: 120px;
  height: 18px;
  margin-right: auto;
  border-radius: 10px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-footer .pmsk-uname {
  width: 20%;
  min-width: 55px;
  max-width: 120px;
  height: 16px;
  border-radius: 10px;
  margin-right: 6px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-footer .pmsk-uimg {
  font-size: 1.6rem;
  display: flex;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 8px;
  margin-bottom: 8px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-primary span {
  border-radius: 4px;
  padding: 10px 32px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-tags span {
  border-radius: 20px;
  padding: 7px 24px;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14%;
  white-space: nowrap;
  color: var(--text-color1);
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-stats .pmsk-statcont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-stats .pmsk-statcont i {
  font-size: 1.2rem;
  color: var(--postmainskeleton-itemcolor-end);
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-stats .pmsk-statcont span {
  display: flex;
  width: 34px;
  padding-top: 6px;
  justify-content: center;
  align-items: center;
}
.postmain-skel .pmsk-section1 .pmsk-postinfo .pmsk-stats .pmsk-statcont span:after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid var(--text-color1);
  border-color: var(--postmainskeleton-itemcolor-end) transparent var(--postmainskeleton-itemcolor-end) transparent;
  -webkit-animation: loading-dual-ring 1.2s linear infinite;
          animation: loading-dual-ring 1.2s linear infinite;
}
.postmain-skel .pmsk-section2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.postmain-skel .pmsk-section2 .pmsk-readbtns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}
.postmain-skel .pmsk-section2 .pmsk-readbtns div {
  padding: 13px 50px;
  border-radius: 6px;
}
.postmain-skel .pmsk-section2 .pmsk-rating {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  width: calc(100% - 40px);
  max-width: 280px;
  border-top: 1px solid var(--background-color2);
  border-bottom: 1px solid var(--background-color2);
}
.postmain-skel .pmsk-section2 .pmsk-rating i {
  font-size: 1.6rem;
  padding: 0 7px;
}

.post-main {
  width: 100%;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post-main .psection-1 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0 8px;
}
.post-main .psection-1 .p-cover {
  display: none;
  align-items: center;
  flex-shrink: 0;
  width: 20%;
  min-width: 90px;
  position: relative;
}
.post-main .psection-1 .p-cover .p-basecover {
  width: 100%;
  height: auto;
  max-height: 370px;
  border-radius: 4px;
  cursor: pointer;
}
.post-main .psection-1 .p-postinfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.post-main .psection-1 .p-postinfo .p-primary {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.post-main .psection-1 .p-postinfo .p-primary .p-title-cont {
  display: flex;
  margin-bottom: 10px;
}
.post-main .psection-1 .p-postinfo .p-primary .p-title-cont .p-title {
  align-self: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  vertical-align: middle;
}
.post-main .psection-1 .p-postinfo .p-primary .p-title-cont .p-menu {
  align-self: flex-start;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-left: auto;
}
.post-main .psection-1 .p-postinfo .p-primary .p-title-cont .p-menu i {
  cursor: pointer;
  display: flex;
  font-size: 2rem;
}
.post-main .psection-1 .p-postinfo .p-primary .p-body {
  display: flex;
  align-items: flex-start;
}
.post-main .psection-1 .p-postinfo .p-primary .p-body .p-cover-mobile {
  flex-shrink: 0;
  padding-right: 14px;
  width: 20%;
  min-width: 90px;
}
.post-main .psection-1 .p-postinfo .p-primary .p-body .p-cover-mobile .p-basecover {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 4px;
}
.post-main .psection-1 .p-postinfo .p-primary .p-body .p-description {
  font-size: 0.9rem;
  font-family: "Gudea", sans-serif;
}
.post-main .psection-1 .p-postinfo .p-footer {
  font-family: "Itim", cursive;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 4px;
  width: 100%;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-evaluation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-evaluation i {
  font-size: 1.4rem;
  cursor: pointer;
  transition: color 0.2s ease;
  color: var(--text-color2);
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-evaluation .p-likes {
  font-size: 1.1rem;
  padding: 0 8px;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-evaluation .savepost {
  margin-left: 20px;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-evaluation .savepost.active {
  color: #ff7d00;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  margin-left: auto;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-user .p-username {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 180px;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-user .p-username:hover {
  text-decoration: underline;
}
.post-main .psection-1 .p-postinfo .p-footer .p-footer-wrap .p-user .p-uimg-cont img {
  height: 1.9rem;
  width: 1.9rem;
  border-radius: 50%;
  cursor: pointer;
}
.post-main .psection-1 .p-postinfo .p-properties span,
.post-main .psection-1 .p-postinfo .p-series span,
.post-main .psection-1 .p-postinfo .p-tags span {
  color: #fff;
  outline: none;
  border: none;
  white-space: nowrap;
}
.post-main .psection-1 .p-postinfo .p-properties {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 8px;
  margin-bottom: 10px;
  font-family: "Gudea";
}
.post-main .psection-1 .p-postinfo .p-properties span {
  background-color: #447349;
  border-radius: 4px;
  padding: 2px 16px;
}
.post-main .psection-1 .p-postinfo .p-properties .pp-type {
  background-color: #263170;
}
.post-main .psection-1 .p-postinfo .p-properties .pp-status {
  background-color: #3e4f68;
}
.post-main .psection-1 .p-postinfo .p-properties .pp-language {
  background-color: #315f63;
}
.post-main .psection-1 .p-postinfo .p-series {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px 8px;
  margin-bottom: 10px;
  font-family: "Gudea";
}
.post-main .psection-1 .p-postinfo .p-series span {
  background-color: rgb(106, 38, 55);
  border-radius: 4px;
  padding: 2px 16px;
}
.post-main .psection-1 .p-postinfo .p-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
  font-family: "Itim", cursive;
}
.post-main .psection-1 .p-postinfo .p-tags span {
  background-color: rgb(103, 138, 144);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8rem;
}
.post-main .psection-1 .p-postinfo .pi-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14%;
  white-space: nowrap;
  color: var(--text-color1);
}
.post-main .psection-1 .p-postinfo .pi-details .pi-detail-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-main .psection-1 .p-postinfo .pi-details .pi-detail-column i {
  font-size: 1.2rem;
}
.post-main .psection-1 .p-postinfo .pi-details .pi-detail-column span {
  font-size: 1rem;
  font-family: "Itim", cursive;
}
.post-main .psection-2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.post-main .psection-2 .p-readbtn-cont {
  display: flex;
  justify-content: space-around;
  font-family: "Josefin Sans", sans-serif;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 10px;
}
.post-main .psection-2 .p-readbtn-cont .start_reading,
.post-main .psection-2 .p-readbtn-cont #get_chapters {
  transition: background-color 0.2s ease;
  font-size: 1.1rem;
  padding: 5px 16px 1px;
  border-radius: 6px;
  color: #fff;
  border: none;
  outline: none;
}
.post-main .psection-2 .p-readbtn-cont .start_reading {
  background-color: #742020;
}
.post-main .psection-2 .p-readbtn-cont .start_reading:hover {
  background-color: #8e3232;
}
.post-main .psection-2 .p-readbtn-cont #get_chapters {
  background-color: #47626e;
}
.post-main .psection-2 .p-readbtn-cont #get_chapters:hover {
  background-color: #517585;
}
.post-main .psection-2 .ratepost-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color1);
}
.post-main .psection-2 .ratepost-cont .rate_the_post {
  display: flex;
  justify-content: center;
  flex-flow: row-reverse;
  padding: 6px 0;
  width: calc(100% - 40px);
  max-width: 280px;
  border-top: 1px solid var(--background-color2);
  border-bottom: 1px solid var(--background-color2);
}
.post-main .psection-2 .ratepost-cont .rate_the_post i {
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0 7px;
}
.post-main .psection-2 .ratepost-cont .rate_the_post i:hover,
.post-main .psection-2 .ratepost-cont .rate_the_post i:hover ~ i {
  color: #f2b600;
}
.post-main .psection-2 .ratepost-cont .rate_the_post i.active,
.post-main .psection-2 .ratepost-cont .rate_the_post i.active ~ i {
  color: #f2b600;
}
.post-main .psection-2 .ratepost-cont .postrate {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 6px 0;
  width: 100%;
}
.post-main .psection-2 .ratepost-cont .postrate i {
  font-size: 1rem;
}
.post-main .psection-2 .ratepost-cont .postrate .bi-star-fill {
  color: #ff7d00;
}
.post-main .psection-2 .ratepost-cont .postrate span {
  padding-left: 10px;
  font-family: "Gudea", cursive;
  font-size: 1rem;
  padding-top: 1px;
}

.fullsize-cover-cont {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
}
.fullsize-cover-cont .fsc-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}
.fullsize-cover-cont .fsc-wrap .fsc-close {
  z-index: 602;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 10px 14px;
  font-size: 2.2rem;
  text-shadow: 0px 0px 6px var(--text-color-boxshadow1);
}
.fullsize-cover-cont img {
  z-index: 601;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0px 0px 36px 17px rgba(0, 0, 0, 0.7);
}

.rate_it {
  width: 100%;
  margin-bottom: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-family: "Josefin Sans", sans-serif;
}
.rate_it select {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 2px 10px 2px 0;
  margin-right: 16px;
  height: 30px;
  width: 60px;
  font-size: 1.2rem;
  font-family: "Gudea", sans-serif;
  text-align: right;
  color: var(--text-color1);
  background-color: var(--background-color2);
}
.rate_it button {
  background-color: rgb(60, 102, 119);
  transition: background-color 0.2s ease;
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  border-radius: 6px;
  padding: 4px 12px 1px;
}
.rate_it button:hover {
  background-color: rgb(89, 125, 139);
}
.rate_it span {
  margin-left: 16px;
}

.modal-chapters {
  display: none;
  flex-direction: column;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 92%;
  max-width: 500px;
  max-height: 90%;
  background-color: var(--background-color2);
  box-shadow: 0px 0px 14px 4px var(--background-color-boxshadow1);
  border-radius: 20px 20px 10px 10px;
  font-family: "Itim", cursive;
  z-index: 200;
  padding-bottom: 6px;
}
.modal-chapters .mc-header {
  border-bottom: 2px solid var(--background-color-hover4);
  display: flex;
  flex-direction: row;
}
.modal-chapters .mc-header span {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
  margin-right: auto;
}
.modal-chapters .mc-header .mc-close {
  cursor: pointer;
  padding: 4px 12px 0px;
  font-size: 1.8rem;
  text-shadow: 0px 0px 6px var(--text-color-boxshadow1);
}
.modal-chapters .mc-body {
  overflow-y: auto;
  padding: 6px 0 10px;
}
.modal-chapters .mc-body ul {
  flex-grow: 1;
}
.modal-chapters .mc-body ul > li {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid var(--background-color-hover2);
}
.modal-chapters .mc-body ul > li > a {
  padding: 6px 20px;
}
.modal-chapters .mc-body ul > li:hover {
  background-color: var(--background-color-hover1);
}
.modal-chapters .mc-body ul > li:last-child {
  border-bottom: unset;
}

@media (min-width: 576px) {
  .post-main .psection-1 {
    flex-direction: row;
    align-items: flex-start;
  }
  .post-main .psection-1 .p-cover {
    display: flex;
    min-width: 130px;
  }
  .post-main .psection-1 .p-body .p-cover-mobile {
    display: none;
  }
  .post-main .psection-1 .p-footer-wrap {
    background: var(--background-color2);
    padding: 4px 30px;
  }
  .post-main .psection-1 .p-footer-wrap .p-user .p-uimg-cont {
    padding: 0 7px;
    background-color: var(--background-color2);
    display: flex;
    align-items: center;
    height: 150%;
    border-radius: 50%;
  }
  .postmain-skel .pmsk-section1 .pmsk-cover {
    display: block;
  }
  .postmain-skel .pmsk-section1 .pmsk-body .pmsk-covermobile {
    display: none;
  }
}
@media (min-width: 768px) {
  main {
    margin-top: 10px;
    padding: 10px 16px 0;
  }
  .add_comment-cont .ac-footer .comment-btn {
    text-decoration: unset;
  }
}
@media (min-width: 992px) {
  .post-main {
    flex-direction: row;
  }
  .post-main .psection-2 {
    flex-shrink: 0;
    width: 330px;
  }
  .postmain-skel {
    flex-direction: row;
  }
  .postmain-skel .pmsk-section2 {
    flex-shrink: 0;
    width: 330px;
  }
}
@media (max-width: 220px) {
  .rate-table tr {
    display: flex;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=post.css.map */