.main-cont {
  background-color: var(--background-color1);
  border-bottom: 1px solid var(--background-color2);
}

.profile-cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile_details-cont {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

@keyframes prskel-loading {
  0% {
    background-color: var(--profileskeleton-itemcolor-start);
  }
  100% {
    background-color: var(--profileskeleton-itemcolor-end);
  }
}
.profile_details-skel {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px 0;
  font-family: "Gudea", Arial, Helvetica, sans-serif;
}
.profile_details-skel .prskel-img_cont, .profile_details-skel .prskel-name, .profile_details-skel .prskel-bio > span {
  animation: prskel-loading 1s linear infinite alternate;
}
.profile_details-skel .prskel-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px 10%;
  flex-wrap: wrap;
  padding: 10px 0;
}
.profile_details-skel .prskel-header .prskel-img_cont {
  padding: 10px 0;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.profile_details-skel .prskel-header .prskel-name {
  width: 80%;
  max-width: 140px;
  height: 20px;
  border-radius: 30px;
}
.profile_details-skel .prskel-bio {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile_details-skel .prskel-bio span {
  height: 14px;
  border-radius: 30px;
  width: 100%;
}
.profile_details-skel .prskel-bio span:first-child {
  width: 94%;
  margin-left: auto;
}
.profile_details-skel .prskel-bio span:last-child {
  width: 80%;
}
.profile_details-skel .prskel-stats-cont {
  display: flex;
  flex-direction: column;
}
.profile_details-skel .prskel-stats-cont .prskel-stats_header {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Itim", cursive;
}
.profile_details-skel .prskel-stats-cont .prskel-stats {
  padding: 6px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile_details-skel .prskel-stats-cont .prskel-stats .prskel-stat_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33.3%;
}
.profile_details-skel .prskel-stats-cont .prskel-stats .prskel-stat_column :first-child {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
.profile_details-skel .prskel-stats-cont .prskel-stats .prskel-stat_column :first-child:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 4px solid var(--text-color1);
  border-color: var(--profileskeleton-itemcolor-end) transparent var(--profileskeleton-itemcolor-end) transparent;
  animation: loading-dual-ring 1.2s linear infinite;
}
.profile_details-skel .prskel-stats-cont .prskel-stats .prskel-stat_column :last-child {
  font-size: 0.9rem;
}

.profile_details {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  gap: 10px 0;
}
.profile_details .pr-header {
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
}
.profile_details .pr-header .pr-img_cont {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.profile_details .pr-header .pr-img_cont img {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.profile_details .pr-header .pr-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.profile_details .pr-header .pr-name .pr-username {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  text-align: center;
}
.profile_details .pr-header .pr-name .pr-displayname {
  font-family: "Itim", cursive;
  font-size: 1.1rem;
  text-align: center;
}
.profile_details span {
  font-family: "Gudea", Arial, Helvetica, sans-serif;
}
.profile_details .pr-bio {
  text-indent: 10px;
  text-align: left;
  font-size: 0.9rem;
  font-family: "Times New Roman", Arial, Helvetica, sans-serif;
}
.profile_details .pr-properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 8px;
}
.profile_details .pr-properties span {
  padding: 4px 16px;
  color: #fff;
  border-radius: 8px;
  font-size: 1rem;
}
.profile_details .pr-properties span i {
  font-size: 0.8rem;
  margin-left: 2px;
}
.profile_details .pr-properties .pr-nsfw_warning {
  background-color: var(--button-red);
}
.profile_details .pr-properties .pr-officer {
  background-color: var(--button-blue);
}
.profile_details .pr-properties .pr-developer {
  background-color: var(--button-green);
}
.profile_details .pr-email_cont {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_details .pr-email_cont span {
  font-size: 0.9rem;
}
.profile_details .pr-email_cont a {
  font-size: 0.7rem;
  cursor: pointer;
}
.profile_details .pr-email_cont a:hover {
  text-decoration: underline;
}
.profile_details .pr-gold {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.profile_details .pr-gold i {
  color: #c5c93d;
  display: flex;
  align-items: center;
}
.profile_details .pr-stats {
  display: flex;
  flex-direction: column;
}
.profile_details .pr-stats > span {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Itim", cursive;
}
.profile_details .pr-stats .prs-userstats {
  border-bottom: 1px solid var(--background-color2);
  padding-bottom: 10px;
  margin-bottom: 4px;
}
.profile_details .pr-stats .prs-userstats,
.profile_details .pr-stats .pr-postingstats {
  padding: 6px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.profile_details .pr-stats .prs-userstats .prs-column,
.profile_details .pr-stats .pr-postingstats .prs-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 33.3%;
}
.profile_details .pr-stats .prs-userstats .prs-column span,
.profile_details .pr-stats .pr-postingstats .prs-column span {
  font-size: 1.4rem;
}
.profile_details .pr-stats .prs-userstats .prs-column span:last-child,
.profile_details .pr-stats .pr-postingstats .prs-column span:last-child {
  font-size: 0.9rem;
}

.profile-tabs-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.profile-tabs-cont .profile-tabs-mobile,
.profile-tabs-cont .profile-tabs-desktop {
  flex-wrap: wrap;
  padding: 0 6px;
  margin-bottom: 10px;
}
.profile-tabs-cont .profile-tabs-mobile a[data-tab=posts] i,
.profile-tabs-cont .profile-tabs-mobile a[data-tab=saved] i,
.profile-tabs-cont .profile-tabs-mobile a[data-tab=friends] i,
.profile-tabs-cont .profile-tabs-desktop a[data-tab=posts] i,
.profile-tabs-cont .profile-tabs-desktop a[data-tab=saved] i,
.profile-tabs-cont .profile-tabs-desktop a[data-tab=friends] i {
  display: flex;
  font-size: 1.8rem;
}
.profile-tabs-cont .profile-tabs-mobile a[data-tab],
.profile-tabs-cont .profile-tabs-desktop a[data-tab] {
  padding: 4px 8px;
  color: var(--text-color1);
  transition: background-color 0.1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profile-tabs-cont .profile-tabs-mobile a[data-tab] i,
.profile-tabs-cont .profile-tabs-desktop a[data-tab] i {
  font-size: 1.6rem;
}

.profile-tabs-mobile {
  display: flex;
  min-height: 48px;
  justify-content: space-evenly;
  gap: 6px 0;
}
.profile-tabs-mobile a[data-tab].active {
  border-radius: 4px;
  background-color: var(--profile-activetab);
  color: #fff;
}

.profile-tabs-desktop {
  display: none;
  min-height: 38px;
  gap: 6px 3%;
  font-size: 1.1rem;
}
.profile-tabs-desktop a[data-tab]:hover {
  border-bottom: 1px solid var(--text-color1);
}
.profile-tabs-desktop a[data-tab] span {
  font-size: 1.2rem;
}
.profile-tabs-desktop a[data-tab].active {
  border-bottom: 1px solid var(--text-color1);
  color: var(--text-color1);
}
.profile-tabs-desktop #refresh_ptab {
  margin-left: auto;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.1s ease;
}
.profile-tabs-desktop #refresh_ptab:hover {
  background-color: var(--tabrefresh-background-color);
}
.profile-tabs-desktop #refresh_ptab i {
  display: flex;
  font-size: 1.3rem;
  color: var(--text-color1);
}

#profile-body {
  min-height: 100vh;
  padding: 20px 0;
  border-top: 1px solid var(--background-color2);
}
#profile-body > div {
  display: none;
}
#profile-body > div.active {
  display: block;
}

#profile-posts .post, #profile-saved .post {
  margin-bottom: 12px;
  background-color: var(--post-bgcolor1);
}
#profile-posts .post .p-info, #profile-posts .post .usercard-onhover, #profile-saved .post .p-info, #profile-saved .post .usercard-onhover {
  background-color: var(--post-bgcolor1);
}

#profile-friends .s-friends {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#profile-friends .s-friends .sf-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid var(--background-color4);
}
#profile-friends .s-friends .sf-header .searchF-wrap {
  width: 70%;
  max-width: 340px;
  position: relative;
}
#profile-friends .s-friends .sf-header .searchF-wrap i {
  position: absolute;
  color: var(--text-color1);
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
}
#profile-friends .s-friends .sf-header .searchF-wrap .searchF {
  font-size: 1.2rem;
  color: var(--text-color1);
  background-color: var(--background-color2);
  box-shadow: 0px 0px 6px 0px var(--div-boxshadow1);
  padding: 6px 42px 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
#profile-friends .s-friends .sf-header .addfriend {
  font-size: 1.1rem;
  background-color: #2e7f39;
  color: #fff;
  transition: background-color 0.2s;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 8px 4px 16px;
  white-space: nowrap;
}
#profile-friends .s-friends .sf-header .addfriend:hover {
  background-color: #4a9b55;
}
#profile-friends .s-friends .sf-header .addfriend i {
  font-size: 0.9rem;
  padding: 0 4px;
  -webkit-text-stroke: 1px white;
}
#profile-friends .s-friends .sf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
#profile-friends .s-friends .sf-list .sf-usercont {
  background-color: var(--background-color2);
  display: flex;
  width: 100%;
}
#profile-friends .s-friends .sf-list .sf-usercont .userpic {
  display: flex;
  align-items: center;
  width: 60px;
  max-height: 60px;
  padding: 6px 10px;
}
#profile-friends .s-friends .sf-list .sf-usercont .userpic img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
#profile-friends .s-friends .sf-list .sf-usercont .username {
  flex-grow: 1;
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-color1);
  font-family: "Itim", cursive;
  font-size: 1.2rem;
  transition: 0.1s ease;
  overflow: hidden;
}
#profile-friends .s-friends .sf-list .sf-usercont .username a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-right: 6px;
}
#profile-friends .s-friends .sf-list .sf-usercont .username a:hover {
  background-color: var(--background-color4);
}
#profile-friends .s-friends .sf-list .sf-usercont .usermenubtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  border-left: 1px solid var(--background-color1);
  font-size: 1.2rem;
  color: var(--text-color1);
  transition: 0.1s ease;
}
#profile-friends .s-friends .sf-list .sf-usercont .usermenubtn:hover {
  background-color: var(--background-color4);
}

@media (min-width: 576px) {
  #profile-friends .s-friends .sf-list .sf-usercont {
    width: unset;
    flex-grow: 1;
    flex-basis: 26%;
  }
}
@media (min-width: 768px) {
  .main-cont {
    border: 1px solid var(--background-color2);
    margin-top: 10px;
    border-radius: 4px;
  }
}
@media (min-width: 992px) {
  .profile-cont {
    padding-top: 10px;
    flex-direction: row;
    align-items: flex-start;
  }
  .profile-cont .profile_details-cont {
    width: 300px;
  }
  .profile-cont .profile_details-cont .pr-header {
    flex-direction: column;
    flex-wrap: unset;
  }
  .profile-cont .profile_details-cont .pr-header .pr-img_cont img {
    width: 80%;
    height: auto;
  }
  .profile-cont .profile_details-cont .pr-header .pr-name {
    gap: unset;
  }
  .profile-cont .profile_details-cont .pr-header .pr-name .pr-username {
    font-size: 0.9rem;
  }
  .profile-cont .profile_details-cont .pr-header .pr-name .pr-displayname {
    font-size: 1.3rem;
  }
  .profile-cont .profile_details-cont .pr-bio {
    font-size: 0.7rem;
  }
  .profile-cont .profile-tabs-cont {
    padding: 10px 6px;
    min-width: 560px;
  }
  .profile-cont .profile_details-skel .prskel-header {
    flex-direction: column;
    flex-wrap: unset;
  }
  .profile-cont .profile_details-skel .prskel-header .prskel-img_cont {
    width: 80%;
    padding-bottom: 70%;
  }
  .profile-tabs-mobile {
    display: none;
  }
  .profile-tabs-desktop {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .profile-cont .profile_details-cont .profile_details .pr-bio {
    font-size: 0.9rem;
  }
}
@media (max-width: 279px) {
  .profile_details .prs-column span {
    font-size: 1.1rem !important;
  }
  #profile-friends .s-friends .sf-list .sf-usercont .userpic {
    display: none;
  }
}/*# sourceMappingURL=profile.css.map */