.modalbg2 {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.createpost {
  display: flex;
  flex-direction: column;
  padding: 0 14px;
  font-family: "Itim", cursive;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--publish-form-color);
  color: var(--text-color1);
}
.createpost .swap_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 84px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.createpost .swap_form .sf-swapformbtn {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.4rem;
}
.createpost .swap_form .sf-swapformbtn .sf-icon {
  display: none;
  background-color: var(--text-color1);
  width: 6px;
  height: 4px;
  border-radius: 100%;
}

.writing_form {
  display: none;
  flex-direction: column;
}
.writing_form .wf-post_body {
  display: flex;
  flex-direction: column;
}
.writing_form .wf-post_primary {
  display: flex;
  flex-direction: column;
}
.writing_form .wf-post_primary span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding-left: 6px;
  margin-bottom: 8px;
}
.writing_form .wf-post_primary .wf-title, .writing_form .wf-post_primary .wf-description {
  padding: 6px 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  background-color: var(--publish-input-color);
  color: var(--text-color1);
  border: none;
  outline: none;
}
.writing_form .wf-post_primary .wf-description {
  height: 200px;
}
.writing_form .wf-post_primary .coverupload_wrap {
  display: flex;
  margin-bottom: 20px;
}
.writing_form .wf-post_primary .coverupload_wrap input {
  flex-grow: 1;
  padding: 4px 4px;
  max-width: 460px;
  background-color: var(--publish-input-color);
  color: var(--text-color1);
  border: none;
  outline: none;
  border-radius: 4px;
}
.writing_form .wf-post_details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 10px 16px;
}
.writing_form .wf-post_details .wf-language, .writing_form .wf-post_details .wf-type, .writing_form .wf-post_details .wf-ratedas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 12px;
}
.writing_form .wf-post_details .wf-language span, .writing_form .wf-post_details .wf-type span, .writing_form .wf-post_details .wf-ratedas span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  margin-right: 12px;
}
.writing_form .wf-post_details .wf-language select, .writing_form .wf-post_details .wf-type select, .writing_form .wf-post_details .wf-ratedas select {
  outline: none;
  border: none;
  background-color: var(--publish-input-color);
  color: var(--text-color1);
  padding: 4px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-family: "Gudea";
  cursor: pointer;
}
.writing_form .wf-post_details .wf-addtag, .writing_form .wf-post_details .wf-addseries {
  margin-bottom: 10px;
}
.writing_form .wf-post_details .wf-addtag button, .writing_form .wf-post_details .wf-addseries button {
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 1.3rem;
  transition: 0.2s ease;
}
.writing_form .wf-post_details .wf-addtag button i, .writing_form .wf-post_details .wf-addseries button i {
  -webkit-text-stroke: 1px white;
  padding: 0 0 0 4px;
}
.writing_form .wf-post_details .wf-addtag button {
  background-color: rgb(72, 139, 78);
}
.writing_form .wf-post_details .wf-addtag button:hover {
  background-color: rgb(58, 129, 64);
}
.writing_form .wf-post_details .wf-addseries {
  display: none;
}
.writing_form .wf-post_details .wf-addseries button {
  background-color: rgb(139, 136, 199);
}
.writing_form .wf-post_details .wf-addseries button:hover {
  background-color: rgb(117, 113, 191);
}
.writing_form .wf-post_details .wf-tags, .writing_form .wf-post_details .wf-fanfic_series {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 5px;
  color: #fff;
  margin-bottom: 14px;
}
.writing_form .wf-post_details .wf-tags span, .writing_form .wf-post_details .wf-fanfic_series span {
  border-radius: 12px;
  padding: 2px 8px;
  margin: 0 3px 4px;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.writing_form .wf-post_details .wf-tags span i, .writing_form .wf-post_details .wf-fanfic_series span i {
  display: flex;
  font-size: 1.1rem;
  margin-left: 5px;
  cursor: pointer;
}
.writing_form .wf-post_details .wf-tags span i:before, .writing_form .wf-post_details .wf-fanfic_series span i:before {
  background-color: #be2424;
  border-radius: 50%;
  transition: 0.1s;
}
.writing_form .wf-post_details .wf-tags span i:hover::before, .writing_form .wf-post_details .wf-fanfic_series span i:hover::before {
  background-color: #be2424 !important;
}
.writing_form .wf-post_details .wf-tags > span {
  background-color: rgb(91, 130, 94);
}
.writing_form .wf-post_details .wf-fanfic_series {
  display: none;
}
.writing_form .wf-post_details .wf-fanfic_series span {
  background-color: rgb(106, 105, 138);
}
.writing_form .wf-submit {
  display: flex;
  justify-content: center;
  padding: 18px;
}
.writing_form .wf-submit input {
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 1.5rem;
  transition: 0.2s ease;
  background-color: rgb(32, 109, 40);
}
.writing_form .wf-submit input:hover {
  background-color: rgb(22, 95, 29);
}
.writing_form .wf-message, .writing_form .rf-message {
  text-align: center;
}

.request_form {
  display: none;
  flex-direction: column;
}
.request_form .rf-post_primary {
  display: flex;
  flex-direction: column;
}
.request_form .rf-post_primary span {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
  padding-left: 6px;
  margin-bottom: 8px;
}
.request_form .rf-post_primary .rf-title {
  padding: 6px 10px;
  margin-bottom: 12px;
}
.request_form .rf-post_primary .rf-description {
  padding: 6px 10px;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.request_form .rf-post_primary .rf-title, .request_form .rf-post_primary .rf-description {
  border-radius: 4px;
  background-color: var(--publish-input-color);
  color: var(--text-color1);
  font-family: "Gudea";
  font-size: 1.1rem;
  border: none;
  outline: none;
}
.request_form .rf-submit {
  display: flex;
  justify-content: center;
  padding: 0 18px 18px;
}
.request_form .rf-submit input {
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  padding: 4px 16px;
  font-size: 1.5rem;
  transition: 0.2s ease;
  background-color: rgb(32, 109, 40);
}
.request_form .rf-submit input:hover {
  background-color: rgb(22, 95, 29);
}

@media (min-width: 768px) {
  .sf-swapformbtn {
    font-size: 1.8rem !important;
    transition: 0.2s;
  }
  .sf-swaptowriting:hover {
    font-size: 2rem !important;
  }
  .sf-swaptorequest:hover {
    font-size: 2rem !important;
  }
  .wf-post_primary > span {
    font-size: 1.4rem !important;
  }
  .wf-title, .wf-description {
    font-size: 1.2rem;
  }
  .wf-tags span > i:before, .wf-fanfic_series span > i:before {
    background-color: #c08e8e !important;
  }
  .wf-post_body {
    flex-direction: row !important;
    justify-content: space-evenly;
  }
  .wf-post_body .wf-post_primary {
    width: 45%;
  }
  .wf-post_body .wf-post_details {
    width: 45%;
    padding: 30px 0 10px;
  }
  .request_form {
    align-items: center;
  }
  .request_form .rf-post_primary {
    width: 80%;
  }
}
@media (min-width: 992px) {
  .wf-post_body .wf-post_primary {
    width: 50%;
  }
  .wf-post_body .wf-post_details {
    width: 40%;
    gap: 10px;
  }
}/*# sourceMappingURL=publish.css.map */