/*
.qJTHM{
    height: 100% !important;
    width: 100% !important;
    > .container{
        height: 100% !important;
        width: 100% !important;
        > div{
            max-width: unset !important;
            min-width: unset !important;
            height: 100% !important;
            width: 100% !important;
        }
    }
}*/
.register{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--text-color1);
    font-family: 'Itim', cursive;
    background-color: var(--background-color1);
    border-bottom: 1px solid var(--background-color2);

    .register-main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px;
        .rm-header{
            padding: 8px;
            width: 100%;
            text-align: center;
            span{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.6rem;
            }
        }
        .rm-primary{
            display: flex;
            flex-direction: column;
            align-items: center;
            .rm-textbox{
                width: 100%;
                margin-bottom: 14px;
                padding: 6px 10px;
                border-radius: 4px;
                outline: none;
                color: var(--text-color1);
                background-color: var(--input-bg1);
                border: 1px solid var(--input-border1);
            }
            .rm-submit{
                width: 50%;
                border: none;
                outline: none;
                background-color: #4f5192;
                color: #fff;
                border-radius: 8px;
                padding: 6px;
                transition: 0.2s ease;
                margin: 2px 0 16px;
                &:hover{
                    background-color: #5a5b95;
                }
            }
            span{
                margin-top: 6px;
                text-align: center;
            }
        }
        .rm-registerwith{
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: hidden;
            > div{
                margin-bottom: 12px;
            }
        }
    }
    .register-extra{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 12px;
        font-size: 1.2rem;
        .re-header{
            padding: 8px;
            width: 100%;
            text-align: center;
            span{
                font-family: 'Josefin Sans', sans-serif;
                font-size: 1.6rem;
            }
        }
        .re-primary{
            display: flex;
            flex-direction: column;
            padding: 0 20px;
            > *{
                width: 100%;
                margin-bottom: 10px;
            }
            > label{
                display: flex;
                flex-direction: row;
                > span{
                    padding-right: 6px;
                }
                > input{
                    width: 1rem;
                }
            }
            > select{
                border-radius: 4px;
                outline: none;
                padding: 6px;
                color: var(--text-color1);
                background-color: var(--input-bg1);
                border: 1px solid var(--input-border1);
            }
        }
    }
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .register{
        flex-direction: row;
        padding: 20px 0;
        border-radius: 4px;
        border: 1px solid var(--background-color2);
        margin-top: 20px;

        .register-main {
            .rm-registerwith {
                padding-top: 14px;
                > div > i {
                    font-size: 2rem;
                }
            }
            .rm-header{
                text-align: left;
            }
        }
        .register-extra{
            .re-header{
                text-align: left;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}