main {
    display: flex;
    gap: 6px 14px;
    color: var(--text-color1);
    align-items: flex-start;
    padding-top: 8px;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Gudea';
    width: 100%;

    .settings-goback {
        display: none;
        width: 100%;

        a {
            max-width: 160px;
            margin: 0 auto;
            width: 100%;
            padding: 6px;
            border-radius: 8px;
            text-align: center;
            background-color: var(--button-red);
            transition: all 0.1s;
            color: #fff;

            &:hover {
                background-color: var(--button-red-hover);
            }
        }
    }

    .settings-link_cont {

        .mobile_nav {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            //padding: 0 20px;
            a {
                padding: 10px;
                flex-grow: 1;

                i {
                    display: flex;
                    justify-content: center;
                    font-size: 2rem;
                }
            }

            a.active {
                border-bottom: 1px solid var(--text-color1);
            }
        }

        .desktop_nav {
            display: none;
            width: 100%;
            background-color: var(--background-color1);
            border: 1px solid var(--background-color2);
            padding: 10px 0 20px;
            border-radius: 4px;

            li {

                /*&:first-child a { border-radius: 8px 8px 0 0; }
                &:last-child a { border-radius: 0 0 8px 8px; }*/
                &:last-child a {
                    border-bottom: unset;
                }

                a {
                    cursor: pointer;
                    padding: 7px 40px 7px 20px;
                    font-size: 1.5rem;
                    transition: all 0.1s ease;
                    border-bottom: 1px solid var(--background-color2);

                    &:hover {
                        background-color: var(--settings-hovernav);
                    }
                }

                a.active {
                    background-color: var(--settings-activetab);
                    color: #fff;
                }
            }
        }
    }
}

.settings_body {
    width: 100%;
    min-height: 600px;
    border-radius: 4px;
    background-color: var(--background-color1);
    border-bottom: 1px solid var(--background-color2);
}

.s-account_skel.pre_load {

    input,
    textarea {
        user-select: none;
        pointer-events: none;
    }
}

.s-account_settings,
.s-account_skel {
    display: none; //flex
    flex-direction: column;
    width: 100%;
    padding: 12px;

    .ps-row {
        display: flex;
        flex-direction: column;
        gap: 8px 30px;

        .ps-cell {
            display: flex;
            flex-direction: column;
            gap: 6px;

            .email_title {
                display: flex;
                align-items: center;
                gap: 10px;

                .email_confirm, .email_change {
                    font-size: 0.8rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            >span,
            label {
                font-size: 1.2rem;
                font-family: 'Gudea';
            }

            >input,
            textarea,
            select {
                //width: 100%;
                flex-grow: 1; //might cause problems
                border: none;
                outline: none;
                border-radius: 6px;
                padding: 8px;
                background-color: var(--input-bg1);
                border: 1px solid var(--background-color2);
                color: var(--text-color1);
                margin-bottom: 10px;
                font-family: 'Itim', cursive;
            }

            >input[name="as-username"], >input[name="as-email"]{
                user-select: none;
                pointer-events: none;
                color: var(--text-color2);
            }
        }
    }

    .ps-ppic_cont {
        width: 120px;
        margin-bottom: 10px; //to align with textarea

        img {
            width: 120px;
            height: 120px;
            border-radius: 8px;
        }

        .change_pp-btn {
            margin-top: 10px;
            width: 100%;
            padding: 4px;
            background-color: var(--input-bg1);
            color: var(--text-color1);
            border: 1px solid var(--background-color2);
            outline: none;
            border-radius: 4px;
            text-align: center;
            transition: background-color 0.1s ease;
            font-family: 'Gudea', cursive;

            &:hover {
                background-color: var(--input-bg-hover1);
            }
        }
    }

    .ps-preferences {
        margin: 10px 0;
        padding-left: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .psr-preferences {
        label {
            display: flex;
            align-items: center;

            input[type=checkbox] {
                height: 16px;
                width: 16px;
                margin-left: 10px;
            }
        }
    }

    .psr-actions {
        flex-direction: row;
        justify-content: center;
        margin-top: 36px;
        gap: 20%;

        >button {
            border: none;
            outline: none;
            border-radius: 6px;
            padding: 8px 26px 6px;
            color: #fff;
            transition: all 0.2s;
            font-family: 'Gudea', cursive;
            font-size: 1.2rem;

            &:first-child {
                background-color: var(--button-red);

                &:hover {
                    background-color: var(--button-red-hover);
                }
            }

            &:last-child {
                background-color: var(--button-green);

                &:hover {
                    background-color: var(--button-green-hover);
                }
            }
        }
    }
}

.s-settings,
.s-settings_skel {
    display: none;
}

.s-customize,
.s-customize_skel {
    display: none;
}



// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

    .s-account_settings,
    .s-account_skel {
        padding: 16px !important;

        .ps-row {
            flex-direction: row !important;

            .ps-cell {
                width: 50%;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main {
        flex-direction: row;
        padding-top: 20px;
    }

    nav {
        width: unset;

        .settings-link_cont {
            .mobile_nav {
                display: none;
            }

            .desktop_nav {
                display: block;
            }
        }
    }

    .settings_body {
        border: 1px solid var(--background-color2);
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}


//extra

@media (max-width: 279px) {

    .s-account_settings,
    .s-account_skel {
        .psr-actions button {
            padding: 8px 3% !important;
        }
    }
}