main {
  display: flex;
  gap: 6px 14px;
  color: var(--text-color1);
  align-items: flex-start;
  padding-top: 8px;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Gudea";
  width: 100%;
}
nav .settings-goback {
  display: none;
  width: 100%;
}
nav .settings-goback a {
  max-width: 160px;
  margin: 0 auto;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--button-red);
  transition: all 0.1s;
  color: #fff;
}
nav .settings-goback a:hover {
  background-color: var(--button-red-hover);
}
nav .settings-link_cont .mobile_nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav .settings-link_cont .mobile_nav a {
  padding: 10px;
  flex-grow: 1;
}
nav .settings-link_cont .mobile_nav a i {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
nav .settings-link_cont .mobile_nav a.active {
  border-bottom: 1px solid var(--text-color1);
}
nav .settings-link_cont .desktop_nav {
  display: none;
  width: 100%;
  background-color: var(--background-color1);
  border: 1px solid var(--background-color2);
  padding: 10px 0 20px;
  border-radius: 4px;
}
nav .settings-link_cont .desktop_nav li {
  /*&:first-child a { border-radius: 8px 8px 0 0; }
  &:last-child a { border-radius: 0 0 8px 8px; }*/
}
nav .settings-link_cont .desktop_nav li:last-child a {
  border-bottom: unset;
}
nav .settings-link_cont .desktop_nav li a {
  cursor: pointer;
  padding: 7px 40px 7px 20px;
  font-size: 1.5rem;
  transition: all 0.1s ease;
  border-bottom: 1px solid var(--background-color2);
}
nav .settings-link_cont .desktop_nav li a:hover {
  background-color: var(--settings-hovernav);
}
nav .settings-link_cont .desktop_nav li a.active {
  background-color: var(--settings-activetab);
  color: #fff;
}

.settings_body {
  width: 100%;
  min-height: 400px;
  border-radius: 4px;
  background-color: var(--background-color1);
  border-bottom: 1px solid var(--background-color2);
}

.s-account_skel.pre_load input,
.s-account_skel.pre_load textarea {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.s-account_skel.pre_load .ps-ppic_cont {
  height: 120px;
  background-color: var(--input-bg1);
}

.s-account_settings,
.s-account_skel {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}
.s-account_settings .ps-row,
.s-account_skel .ps-row {
  display: flex;
  flex-direction: column;
  gap: 8px 30px;
}
.s-account_settings .ps-row .ps-cell,
.s-account_skel .ps-row .ps-cell {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.s-account_settings .ps-row .ps-cell .email_title,
.s-account_skel .ps-row .ps-cell .email_title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.s-account_settings .ps-row .ps-cell .email_title .email_confirm, .s-account_settings .ps-row .ps-cell .email_title .email_change,
.s-account_skel .ps-row .ps-cell .email_title .email_confirm,
.s-account_skel .ps-row .ps-cell .email_title .email_change {
  font-size: 0.8rem;
}
.s-account_settings .ps-row .ps-cell .email_title .email_confirm:hover, .s-account_settings .ps-row .ps-cell .email_title .email_change:hover,
.s-account_skel .ps-row .ps-cell .email_title .email_confirm:hover,
.s-account_skel .ps-row .ps-cell .email_title .email_change:hover {
  text-decoration: underline;
}
.s-account_settings .ps-row .ps-cell > span,
.s-account_settings .ps-row .ps-cell label,
.s-account_skel .ps-row .ps-cell > span,
.s-account_skel .ps-row .ps-cell label {
  font-size: 1.2rem;
  font-family: "Gudea";
}
.s-account_settings .ps-row .ps-cell > input,
.s-account_settings .ps-row .ps-cell textarea,
.s-account_settings .ps-row .ps-cell select,
.s-account_skel .ps-row .ps-cell > input,
.s-account_skel .ps-row .ps-cell textarea,
.s-account_skel .ps-row .ps-cell select {
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--input-bg1);
  border: 1px solid var(--background-color2);
  color: var(--text-color1);
  margin-bottom: 10px;
  font-family: "Times New Roman", cursive;
}
.s-account_settings .ps-row .ps-cell > input[name=as-username], .s-account_settings .ps-row .ps-cell > input[name=as-email],
.s-account_skel .ps-row .ps-cell > input[name=as-username],
.s-account_skel .ps-row .ps-cell > input[name=as-email] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  color: var(--text-color2);
}
.s-account_settings .ps-ppic_cont,
.s-account_skel .ps-ppic_cont {
  width: 120px;
  margin-bottom: 10px;
}
.s-account_settings .ps-ppic_cont img,
.s-account_skel .ps-ppic_cont img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}
.s-account_settings .ps-ppic_cont .change_pp-btn,
.s-account_skel .ps-ppic_cont .change_pp-btn {
  margin-top: 10px;
  width: 100%;
  padding: 4px;
  background-color: var(--input-bg1);
  color: var(--text-color1);
  border: 1px solid var(--background-color2);
  outline: none;
  border-radius: 4px;
  text-align: center;
  transition: background-color 0.1s ease;
  font-family: "Gudea", cursive;
}
.s-account_settings .ps-ppic_cont .change_pp-btn:hover,
.s-account_skel .ps-ppic_cont .change_pp-btn:hover {
  background-color: var(--input-bg-hover1);
}
.s-account_settings .ps-preferences,
.s-account_skel .ps-preferences {
  margin: 10px 0;
  padding-left: 16px;
  font-family: "Josefin Sans", sans-serif;
}
.s-account_settings .psr-preferences label,
.s-account_skel .psr-preferences label {
  display: flex;
  align-items: center;
}
.s-account_settings .psr-preferences label input[type=checkbox],
.s-account_skel .psr-preferences label input[type=checkbox] {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}
.s-account_settings .psr-actions,
.s-account_skel .psr-actions {
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
  gap: 20%;
}
.s-account_settings .psr-actions > button,
.s-account_skel .psr-actions > button {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px 26px 6px;
  color: #fff;
  transition: all 0.2s;
  font-family: "Gudea", cursive;
  font-size: 1.2rem;
}
.s-account_settings .psr-actions > button:first-child,
.s-account_skel .psr-actions > button:first-child {
  background-color: var(--button-red);
}
.s-account_settings .psr-actions > button:first-child:hover,
.s-account_skel .psr-actions > button:first-child:hover {
  background-color: var(--button-red-hover);
}
.s-account_settings .psr-actions > button:last-child,
.s-account_skel .psr-actions > button:last-child {
  background-color: var(--button-green);
}
.s-account_settings .psr-actions > button:last-child:hover,
.s-account_skel .psr-actions > button:last-child:hover {
  background-color: var(--button-green-hover);
}

.s-settings,
.s-settings_skel {
  display: none;
}

.s-customize,
.s-customize_skel {
  display: none;
}

@media (min-width: 576px) {
  .s-account_settings,
  .s-account_skel {
    padding: 16px !important;
  }
  .s-account_settings .ps-row,
  .s-account_skel .ps-row {
    flex-direction: row !important;
  }
  .s-account_settings .ps-row .ps-cell,
  .s-account_skel .ps-row .ps-cell {
    width: 50%;
  }
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
    padding-top: 20px;
  }
  nav {
    width: unset;
  }
  nav .settings-link_cont .mobile_nav {
    display: none;
  }
  nav .settings-link_cont .desktop_nav {
    display: block;
  }
  .settings_body {
    border: 1px solid var(--background-color2);
  }
}
@media (max-width: 279px) {
  .s-account_settings .psr-actions button,
  .s-account_skel .psr-actions button {
    padding: 8px 3% !important;
  }
}/*# sourceMappingURL=settings.css.map */