main {
  display: flex;
  gap: 20px;
  color: var(--text-color1);
  align-items: flex-start;
  padding-top: 8px;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Gudea";
  width: 100%;
}
nav .settings-goback {
  display: none;
  width: 100%;
}
nav .settings-goback a {
  max-width: 160px;
  margin: 0 auto;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--goback-button);
  transition: all 0.1s;
  color: #fff;
}
nav .settings-goback a:hover {
  background-color: var(--goback-button-hover);
}
nav .settings-link_cont {
  background-color: var(--background-color1);
  border-radius: 8px;
}
nav .settings-link_cont .mobile_nav {
  display: flex;
  justify-content: space-around;
}
nav .settings-link_cont .mobile_nav a {
  padding: 10px;
  flex-grow: 1;
}
nav .settings-link_cont .mobile_nav a i {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
nav .settings-link_cont .mobile_nav a:first-child {
  border-bottom: 1px solid #fff;
}
nav .settings-link_cont ul {
  display: none;
  width: 100%;
  padding: 10px 0 30px;
}
nav .settings-link_cont ul li a {
  cursor: pointer;
  padding: 7px 40px 7px 20px;
  font-size: 1.5rem;
  transition: all 0.2s ease 0s;
  border-bottom: 1px solid var(--background-color-hover1);
}
nav .settings-link_cont ul li a:hover {
  background-color: var(--background-color-hover1);
}
nav .settings-link_cont ul li a.active {
  background-color: var(--settings-activetab);
}

.settings_body {
  flex-grow: 1;
  background-color: var(--background-color1);
  min-height: 600px;
  border-radius: 8px;
}

.settings_body .s-friends {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.settings_body .s-friends .sf-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 14px;
  border-bottom: 1px solid var(--background-color-hover1);
}
.settings_body .s-friends .sf-header .searchF-wrap {
  width: 70%;
  max-width: 340px;
  position: relative;
}
.settings_body .s-friends .sf-header .searchF-wrap i {
  position: absolute;
  color: var(--text-color1);
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
}
.settings_body .s-friends .sf-header .searchF-wrap .searchF {
  font-size: 1.2rem;
  color: var(--text-color1);
  background-color: var(--background-color2);
  box-shadow: 0px 0px 6px 0px var(--background-color-boxshadow1);
  padding: 6px 42px 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
.settings_body .s-friends .sf-header .addfriend {
  font-size: 1.1rem;
  background-color: #2e7f39;
  color: #fff;
  transition: background-color 0.2s;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 4px 8px 4px 16px;
  white-space: nowrap;
}
.settings_body .s-friends .sf-header .addfriend:hover {
  background-color: #4a9b55;
}
.settings_body .s-friends .sf-header .addfriend i {
  font-size: 0.9rem;
  padding: 0 4px;
  -webkit-text-stroke: 1px white;
}
.settings_body .s-friends .sf-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}
.settings_body .s-friends .sf-list .sf-usercont {
  background-color: var(--background-color2);
  display: flex;
}
.settings_body .s-friends .sf-list .sf-usercont .userpic {
  display: flex;
  align-items: center;
  width: 60px;
  max-height: 60px;
  padding: 6px 10px;
}
.settings_body .s-friends .sf-list .sf-usercont .userpic img {
  width: 100%;
  height: 100%;
}
.settings_body .s-friends .sf-list .sf-usercont .username {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--text-color1);
  font-family: "Itim", cursive;
  font-size: 1.2rem;
  transition: 0.1s ease;
}
.settings_body .s-friends .sf-list .sf-usercont .username a {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px 0 10px;
}
.settings_body .s-friends .sf-list .sf-usercont .username a:hover {
  background-color: var(--background-color-hover1);
}
.settings_body .s-friends .sf-list .sf-usercont .usermenubtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  cursor: pointer;
  border-left: 1px solid var(--background-color1);
  font-size: 1.2rem;
  color: var(--text-color1);
  transition: 0.1s ease;
}
.settings_body .s-friends .sf-list .sf-usercont .usermenubtn:hover {
  background-color: var(--background-color-hover1);
}

@media (min-width: 768px) {
  main {
    flex-direction: row;
    padding-top: 20px;
  }
  nav {
    width: unset;
  }
}/*# sourceMappingURL=settings.css.map */