main {
  display: flex;
  gap: 6px;
  color: var(--text-color1);
  align-items: flex-start;
  padding-top: 8px;
  flex-direction: column;
}

nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: "Gudea";
  width: 100%;
}
nav .settings-goback {
  display: none;
  width: 100%;
}
nav .settings-goback a {
  max-width: 160px;
  margin: 0 auto;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--button-red);
  transition: all 0.1s;
  color: #fff;
}
nav .settings-goback a:hover {
  background-color: var(--button-red-hover);
}
nav .settings-link_cont .mobile_nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav .settings-link_cont .mobile_nav a {
  padding: 10px;
  flex-grow: 1;
}
nav .settings-link_cont .mobile_nav a i {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}
nav .settings-link_cont .mobile_nav a.active {
  border-bottom: 1px solid var(--text-color1);
}
nav .settings-link_cont .desktop_nav {
  display: none;
  width: 100%;
  background-color: var(--background-color1);
  padding: 10px 0 20px;
  border-radius: 8px;
}
nav .settings-link_cont .desktop_nav li {
  /*&:first-child a { border-radius: 8px 8px 0 0; }
  &:last-child a { border-radius: 0 0 8px 8px; }*/
}
nav .settings-link_cont .desktop_nav li:last-child a {
  border-bottom: unset;
}
nav .settings-link_cont .desktop_nav li a {
  cursor: pointer;
  padding: 7px 40px 7px 20px;
  font-size: 1.5rem;
  transition: all 0.1s ease;
  border-bottom: 1px solid var(--background-color-hover1);
}
nav .settings-link_cont .desktop_nav li a:hover {
  background-color: var(--settings-hovernav);
}
nav .settings-link_cont .desktop_nav li a.active {
  background-color: var(--settings-activetab);
  color: #fff;
}

.settings_body {
  width: 100%;
  background-color: var(--background-color1);
  min-height: 600px;
  border-radius: 8px;
}

.settings_body .settings_body .s-profile_settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
}
.settings_body .settings_body .s-profile_settings .ps-row {
  display: flex;
  flex-direction: column;
  gap: 8px 30px;
}
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell > span,
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell label {
  font-size: 1.2rem;
  font-family: "Gudea";
}
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell > input,
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell textarea,
.settings_body .settings_body .s-profile_settings .ps-row .ps-cell select {
  flex-grow: 1;
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px;
  background-color: var(--background-color2);
  color: var(--text-color1);
  margin-bottom: 10px;
  font-family: "Itim", cursive;
}
.settings_body .settings_body .s-profile_settings .ps-ppic_cont {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  background-color: var(--background-color2);
  margin-bottom: 10px;
}
.settings_body .settings_body .s-profile_settings .ps-preferences {
  margin: 10px 0;
  padding-left: 16px;
  font-family: "Josefin Sans", sans-serif;
}
.settings_body .settings_body .s-profile_settings .psr-preferences label {
  display: flex;
  align-items: center;
}
.settings_body .settings_body .s-profile_settings .psr-preferences label input[type=checkbox] {
  height: 16px;
  width: 16px;
  margin-left: 10px;
}
.settings_body .settings_body .s-profile_settings .psr-actions {
  flex-direction: row;
  justify-content: center;
  margin-top: 36px;
  gap: 20%;
}
.settings_body .settings_body .s-profile_settings .psr-actions > button {
  border: none;
  outline: none;
  border-radius: 6px;
  padding: 8px 26px 6px;
  color: #fff;
  transition: all 0.2s;
  font-family: "Gudea", cursive;
  font-size: 1.2rem;
}
.settings_body .settings_body .s-profile_settings .psr-actions > button:first-child {
  background-color: var(--button-red);
}
.settings_body .settings_body .s-profile_settings .psr-actions > button:first-child:hover {
  background-color: var(--button-red-hover);
}
.settings_body .settings_body .s-profile_settings .psr-actions > button:last-child {
  background-color: var(--button-green);
}
.settings_body .settings_body .s-profile_settings .psr-actions > button:last-child:hover {
  background-color: var(--button-green-hover);
}

.settings_body .s-library {
  display: none;
  flex-direction: column;
  width: 100%;
  padding: 12px 0 20px;
}
.settings_body .s-library .lib-header {
  display: flex;
  color: var(--text-color1);
  /*.lib-subtabs {
      display: none;
      justify-content: space-evenly;
      padding: 6px 10% 14px;

      a {
          font-size: 1rem;
          font-family: 'Itim', cursive;
          cursor: pointer;
          padding: 4px 10px;
      }

      a.active {
          border-bottom: 1px solid var(--text-color1);
      }
  }*/
}
.settings_body .s-library .lib-header .lib-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid var(--background-color2);
  padding-bottom: 8px;
}
.settings_body .s-library .lib-header .lib-tabs a {
  font-size: 1.1rem;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  border-radius: 25px;
  padding: 8px 5% 3px;
  transition: all 0.1s ease;
}
.settings_body .s-library .lib-header .lib-tabs a.active {
  background: var(--settings-activetab);
  color: #fff;
}
.settings_body .s-library .lib-body {
  display: flex;
  flex-direction: column;
}
.settings_body .s-library .lib-body > div {
  width: 49.5%;
}

@media (min-width: 576px) {
  .s-profile_settings {
    padding: 16px !important;
  }
  .s-profile_settings .ps-row {
    flex-direction: row !important;
  }
  .s-profile_settings .ps-row .ps-cell {
    width: 50%;
  }
  .s-library {
    /*.lib-subtabs a {
        font-size: 1.2rem !important;
    }*/
  }
  .s-library .lib-tabs a {
    font-size: 1.3rem !important;
  }
}
@media (min-width: 768px) {
  main {
    flex-direction: row;
    padding-top: 20px;
  }
  nav {
    width: unset;
  }
  nav .settings-link_cont .mobile_nav {
    display: none;
  }
  nav .settings-link_cont .desktop_nav {
    display: block;
  }
  .settings_body .s-library {
    padding-top: 18px;
  }
  .settings_body .s-library .lib-body {
    padding: 0 12px;
  }
}
@media (min-width: 992px) {
  .s-library .lib-body.lib-masonry {
    flex-direction: row !important;
    gap: 1%;
  }
}
@media (max-width: 279px) {
  .s-profile_settings .psr-actions button {
    padding: 8px 3% !important;
  }
}/*# sourceMappingURL=settings.css.map */