main {
    display: flex;
    gap: 6px;
    color: var(--text-color1);
    align-items: flex-start;
    padding-top: 8px;
    flex-direction: column;
}

nav {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-family: 'Gudea';
    width: 100%;

    .settings-goback {
        display: none;
        width: 100%;

        a {
            max-width: 160px;
            margin: 0 auto;
            width: 100%;
            padding: 6px;
            border-radius: 8px;
            text-align: center;
            background-color: var(--goback-button);
            transition: all 0.1s;
            color: #fff;

            &:hover {
                background-color: var(--goback-button-hover);
            }
        }
    }

    .settings-link_cont {

        .mobile_nav {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            //padding: 0 20px;
            a {
                padding: 10px;
                flex-grow: 1;

                i {
                    display: flex;
                    justify-content: center;
                    font-size: 2rem;
                }
            }

            a.active {
                border-bottom: 1px solid var(--text-color1);
            }
        }

        .desktop_nav {
            display: none;
            width: 100%;
            background-color: var(--background-color1);
            padding: 10px 0 20px;
            border-radius: 8px;

            li {

                /*&:first-child a { border-radius: 8px 8px 0 0; }
                &:last-child a { border-radius: 0 0 8px 8px; }*/
                &:last-child a {
                    border-bottom: unset;
                }

                a {
                    cursor: pointer;
                    padding: 7px 40px 7px 20px;
                    font-size: 1.5rem;
                    transition: all 0.2s ease 0s;
                    border-bottom: 1px solid var(--background-color-hover1);

                    &:hover {
                        background-color: var(--settings-hovernav);
                    }
                }

                a.active {
                    background-color: var(--settings-activetab);
                    color: #fff;
                }
            }
        }
    }
}

.settings_body {
    width: 100%;
    background-color: var(--background-color1);
    min-height: 600px;
    border-radius: 8px;
}

.settings_body .s-friends {
    display: none; //flex
    flex-direction: column;
    width: 100%;

    .sf-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        padding: 14px;
        border-bottom: 1px solid var(--background-color-hover1);

        .searchF-wrap {
            width: 70%;
            max-width: 340px;
            position: relative;

            i {
                position: absolute;
                color: var(--text-color1);
                font-size: 1.4rem;
                right: 10px;
                top: 50%;
                transform: translateY(-50%) rotateY(180deg);
            }

            .searchF {
                font-size: 1.2rem;
                color: var(--text-color1);
                background-color: var(--background-color2);
                box-shadow: 0px 0px 6px 0px var(--background-color-boxshadow1);
                padding: 6px 42px 6px 10px;
                border: none;
                outline: none;
                width: 100%;
                border-radius: 4px;
            }
        }

        .addfriend {
            font-size: 1.1rem;
            background-color: #2e7f39;
            color: #fff;
            transition: background-color 0.2s;
            outline: none;
            border: none;
            border-radius: 5px;
            padding: 4px 8px 4px 16px;
            white-space: nowrap;

            &:hover {
                background-color: #4a9b55;
            }

            i {
                font-size: 0.9rem;
                padding: 0 4px;
                -webkit-text-stroke: 1px white;
            }
        }
    }

    .sf-list {
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-evenly;
        gap: 10px;
        padding: 20px;

        .sf-usercont {
            background-color: var(--background-color2);
            display: flex;
            width: 100%;

            //border-radius: 6px;
            .userpic {
                display: flex;
                align-items: center;
                width: 60px;
                max-height: 60px;
                padding: 6px 10px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .username {
                flex-grow: 1;
                display: flex;
                align-items: center;
                height: 100%;
                color: var(--text-color1);
                font-family: 'Itim', cursive;
                font-size: 1.2rem;
                transition: 0.1s ease;
                overflow: hidden;

                a {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0 10px;

                    &:hover {
                        background-color: var(--background-color-hover1);
                    }
                }
            }

            .usermenubtn {
                //border-radius: 0 6px 6px 0;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 6px 10px;
                cursor: pointer;
                border-left: 1px solid var(--background-color1);
                font-size: 1.2rem;
                color: var(--text-color1);
                transition: 0.1s ease;

                &:hover {
                    background-color: var(--background-color-hover1);
                }
            }
        }
    }
}

.settings_body .s-profile_settings {
    display: none; //flex
    flex-direction: column;
    width: 100%;
    padding: 12px;

    .ps-row {
        display: flex;
        flex-direction: column;
        gap: 8px 30px;

        .ps-cell {
            display: flex;
            flex-direction: column;
            gap: 6px;

            >span,
            label {
                font-size: 1.2rem;
                font-family: 'Gudea';
            }

            >input,
            textarea,
            select {
                //width: 100%;
                flex-grow: 1; //might cause problems
                border: none;
                outline: none;
                border-radius: 6px;
                padding: 8px;
                background-color: var(--background-color2);
                color: var(--text-color1);
                margin-bottom: 10px;
                font-family: 'Itim', cursive;
            }
        }
    }

    .ps-ppic_cont {
        width: 120px;
        height: 120px;
        border-radius: 8px;
        background-color: var(--background-color2);
        margin-bottom: 10px; //to align with textarea
    }

    .ps-preferences {
        margin: 10px 0;
        padding-left: 16px;
        font-family: 'Josefin Sans', sans-serif;
    }

    .psr-preferences {
        label {
            display: flex;
            align-items: center;

            input[type=checkbox] {
                height: 16px;
                width: 16px;
                margin-left: 10px;
            }
        }
    }

    .psr-actions {
        flex-direction: row;
        justify-content: center;
        margin-top: 36px;
        gap: 20%;

        >button {
            border: none;
            outline: none;
            border-radius: 6px;
            padding: 8px 26px 6px;
            color: #fff;
            transition: all 0.2s;
            font-family: 'Gudea', cursive;
            font-size: 1.2rem;

            &:first-child {
                background-color: var(--revert-botton);

                &:hover {
                    background-color: var(--revert-botton-hover);
                }
            }

            &:last-child {
                background-color: var(--save-botton);

                &:hover {
                    background-color: var(--save-botton-hover);
                }
            }
        }
    }
}

.settings_body .s-about_you {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px;

    .ay-header {
        display: flex;
        flex-direction: column;
        color: var(--text-color1);
        .ay-tabs {
            display: flex;
            justify-content: space-around;
            a {
                font-size: 1.4rem;
                font-family: 'Josefin Sans', sans-serif;
                cursor: pointer;
                border-radius: 25px;
                padding: 7px 20px 4px;
            }
            a.active{
                background: var(--settings-activetab);
                color: #fff;
            }
        }
        .ay-subtabs{
            display: none;
            justify-content: space-evenly;
            padding: 20px 10% 10px;
            a {
                font-size: 1.2rem;
                font-family: 'Itim', cursive;
                cursor: pointer;
                padding: 4px 10px;
            }
            a.active{
                border-bottom: 1px solid var(--text-color1);
            }
        }
    }

    .ay-body {
        display: flex;
    }
}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .s-profile_settings {
        padding: 16px !important;

        .ps-row {
            flex-direction: row !important;

            .ps-cell {
                width: 50%;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    main {
        flex-direction: row;
        padding-top: 20px;
    }

    nav {
        width: unset;

        .settings-link_cont {
            .mobile_nav {
                display: none;
            }

            .desktop_nav {
                display: block;
            }
        }
    }
    .settings_body .s-about_you{
        padding-top: 18px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .settings_body .s-friends .sf-list .sf-usercont {
        width: unset;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}


//extra

@media (max-width: 279px) {
    .settings_body .s-friends .sf-list .sf-usercont .userpic {
        display: none;
    }

    .s-profile_settings .psr-actions button {
        padding: 8px 3% !important;
    }
}