/*----------SETTINGS---------*/
html {
  font-size: 14px;
  color: var(--text-color1);
  position: relative;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: var(--background-color1);
  color: var(--text-color1);
}

ul,
ol,
li,
b,
h1,
h2,
h3,
h4,
h6,
a,
p {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

a {
  color: unset;
}
a:hover {
  color: unset;
}

select {
  outline: none;
  border: none;
}

.dblock {
  display: block !important;
}

.dflex {
  display: flex !important;
}

.dnone {
  display: none !important;
}

.opacity1 {
  opacity: 1 !important;
}

.opacity0 {
  opacity: 0 !important;
}

@-webkit-keyframes loading-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.modalbg-base, .modalbg-base-2 {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
  justify-content: center;
  align-items: flex-start;
  z-index: 504;
}

.modalbg-base-2 {
  z-index: 505 !important;
}

.modalbg1 {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 200;
}

.modalbg2 {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 506;
}

.modal-replies {
  display: none;
}

.likebtn:hover {
  color: #1198ff !important;
}

.dislikebtn:hover {
  color: #bd1313 !important;
}

.likebtn.active {
  color: #1198ff !important;
}

.dislikebtn.active {
  color: #bd1313 !important;
}

/*-----------DESIGN-------------*/
.main-cont {
  min-height: 100%;
  padding-bottom: 30px;
}

header {
  background-color: var(--background-color1);
  /*padding: 20px 0;*/
}
header .header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.drawerbtn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
}
.drawerbtn-cont i {
  color: var(--text-color1);
  font-size: 3.4rem;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
  cursor: pointer;
  display: flex;
}
.drawerbtn-cont i:hover {
  font-size: 3.2rem;
}

.drawer-cont {
  opacity: 1 !important;
}
.drawer-cont .drawer.active {
  width: 70% !important;
}
.drawer-cont .drawer {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--background-color1);
  font-family: "Itim", cursive;
  overflow-x: hidden;
  transition: width 0.3s ease;
  color: var(--text-color1);
}
.drawer-cont .drawer .dw-top {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid var(--background-color2);
}
.drawer-cont .drawer .dw-top .dw-close {
  padding: 10px;
  flex-shrink: 0;
}
.drawer-cont .drawer .dw-top .dw-close i {
  font-size: 2rem;
}
.drawer-cont .drawer .dw-top .dw-account {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.drawer-cont .drawer .dw-top .dw-account .dw-userimg {
  display: flex;
  justify-content: center;
  padding: 1rem 0 10px;
}
.drawer-cont .drawer .dw-top .dw-account .dw-userimg img {
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
}
.drawer-cont .drawer .dw-top .dw-account .dw-userimg i {
  font-size: 4rem;
}
.drawer-cont .drawer .dw-top .dw-account .dw-acc-info {
  font-family: "Hubballi", cursive;
  padding-bottom: 6px;
  font-size: 1.1rem;
}
.drawer-cont .drawer .dw-username {
  display: flex;
  justify-content: center;
  font-family: "Doppio One", sans-serif;
  padding: 8px 0;
  font-size: 1.1rem;
}
.drawer-cont .drawer .dw-mainpage {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #313131;
  font-size: 1.5rem;
}
.drawer-cont .drawer .dw-mainpage a {
  /*height: 100%;
  width: 100%;*/
  padding: 6px 0 6px 20px;
  font-family: "Kaushan Script", cursive;
}
.drawer-cont .drawer .dw-list {
  padding: 10px 0 16px;
  flex-grow: 1;
  font-size: 1.3rem;
}
.drawer-cont .drawer .dw-list > ul > li > a {
  padding: 4px 20px;
  color: var(--text-color1) !important;
  transition: 0.2s ease;
  display: flex;
  cursor: pointer;
}
.drawer-cont .drawer .dw-list > ul > li > a:hover {
  background-color: var(--background-color2);
}
.drawer-cont .drawer .dw-redbutton {
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 4px 20px;
  color: #ffffff;
  transition: 0.2s ease;
  background-color: #b73d3d;
  font-size: 1.4rem;
}
.drawer-cont .drawer .dw-redbutton:hover {
  background-color: #b94f4f;
}
.drawer-cont .drawer .dw-icon-cont {
  padding-right: 14px;
}
.drawer-cont .drawer .dw-icon-cont i {
  font-size: 1.4rem;
}

.login-modal-cont {
  padding-top: 6%;
}
.login-modal-cont .login-modal {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-background);
  box-shadow: 0px 0px 16px 4px var(--div-boxshadow1);
  width: 260px;
  border-radius: 10px;
  font-family: "Itim", cursive;
  overflow: hidden;
  color: var(--text-color1);
}
.login-modal-cont .login-modal .lm-header {
  border-bottom: 2px solid var(--modal-line1);
  display: flex;
  flex-direction: row;
}
.login-modal-cont .login-modal .lm-header .lm-title {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
  flex-grow: 1;
}
.login-modal-cont .login-modal .lm-header .lm-closebtn {
  flex-shrink: 0;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 1.8rem;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
}
.login-modal-cont .login-modal .lm-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
}
.login-modal-cont .login-modal .lm-primary .lm-textbox {
  width: 100%;
  margin-bottom: 14px;
  background-color: var(--background-color1);
  color: var(--text-color1);
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
  outline: none;
}
.login-modal-cont .login-modal .lm-primary .lm-submit {
  width: 50%;
  margin-top: 2px;
  border: none;
  outline: none;
  background-color: #4f5192;
  color: #fff;
  border-radius: 8px;
  padding: 4px;
  transition: 0.2s ease;
}
.login-modal-cont .login-modal .lm-primary .lm-submit:hover {
  background-color: #5a5b95;
}
.login-modal-cont .login-modal .lm-primary span {
  margin-top: 6px;
  text-align: center;
  color: #b22525;
}
.login-modal-cont .login-modal .lm-primary .lm-success {
  color: #36914e !important;
}
.login-modal-cont .login-modal .lm-loginwith {
  padding: 10px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.login-modal-cont .login-modal .lm-loginwith > div {
  margin-bottom: 12px;
}
.login-modal-cont .login-modal .lm-forgot {
  text-align: center;
  font-size: 1.2rem;
  padding: 4px 10px;
}
.login-modal-cont .login-modal .lm-rememberme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 14px 10px;
}
.login-modal-cont .login-modal .lm-rememberme > label {
  display: flex;
  flex-direction: row;
}
.login-modal-cont .login-modal .lm-rememberme > label > span {
  padding-right: 6px;
}
.login-modal-cont .login-modal .lm-rememberme > label > input {
  width: 1rem;
}
.login-modal-cont .login-modal a {
  color: #628ad8;
  display: unset;
}
.login-modal-cont .login-modal a:hover {
  text-decoration: underline;
}

.theme-switcher-cont {
  padding-top: 6%;
}
.theme-switcher-cont .theme-switcher {
  display: flex;
  flex-direction: column;
  background-color: var(--modal-background);
  box-shadow: 0px 0px 16px 4px var(--div-boxshadow1);
  width: 260px;
  border-radius: 10px;
  font-family: "Gudea", cursive;
  overflow: hidden;
  color: var(--text-color1);
}
.theme-switcher-cont .theme-switcher .ts-header {
  border-bottom: 2px solid var(--modal-line1);
  display: flex;
  flex-direction: row;
}
.theme-switcher-cont .theme-switcher .ts-header .ts-title {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 1.3rem;
  flex-grow: 1;
}
.theme-switcher-cont .theme-switcher .ts-header .ts-closebtn {
  flex-shrink: 0;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 1.8rem;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
}
.theme-switcher-cont .theme-switcher ul {
  padding: 10px;
}
.theme-switcher-cont .theme-switcher ul li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 2px solid var(--modal-line1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.theme-switcher-cont .theme-switcher ul li:last-child {
  border-bottom: unset;
}
.theme-switcher-cont .theme-switcher ul li:hover {
  background-color: var(--modal-item-hover);
}
.theme-switcher-cont .theme-switcher ul li i {
  display: none;
  font-size: 1.4rem;
}
.theme-switcher-cont .theme-switcher ul li i.active {
  display: flex;
}
.theme-switcher-cont .theme-switcher ul li:has(> i.active) {
  cursor: default;
  background-color: var(--modal-item-hover);
}

.logo-cont {
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}
.logo-cont span {
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
  color: var(--text-color1);
  text-shadow: -2px 4px 2px var(--text-boxshadow1);
  cursor: pointer;
}

.searchbar-cont {
  flex-grow: 1;
  padding: 0 26px 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.searchbar-cont .searchbar-wrap {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.searchbar-cont .searchbar-wrap i {
  position: absolute;
  color: var(--text-color1);
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
}
.searchbar-cont .searchbar-wrap .searchbar {
  font-size: 1.2rem;
  color: var(--text-color1);
  background-color: var(--searchbar-bg-color);
  box-shadow: 0px 0px 6px 0px var(--searchbar-boxshadow);
  padding: 6px 42px 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  border-radius: 4px;
}
.searchbar-cont .searchbar-wrap .searchbar ::-moz-placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar :-ms-input-placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar ::placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar ::-ms-input-placeholder {
  color: #939393;
}

.header_right_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  /*height: 100%;*/
}

.shortcuts-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.shortcuts-cont i {
  color: var(--shortcuticons-color);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s ease;
  /*&:hover {
  }*/
}
.shortcuts-cont .chat-shortcut,
.shortcuts-cont .notifications-shortcut {
  display: none;
}

.account-cont {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 16px 0 30px;
  position: relative;
}
.account-cont .account_btn-cont {
  display: flex;
}
.account-cont .account_btn-cont .ppic-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.account-cont .account_btn-cont .ppic-wrap img {
  width: 100%;
  height: 100%;
}
.account-cont .account_btn-cont .ppic-wrap i {
  color: var(--shortcuticons-color);
  font-size: 2.3rem;
}
.account-cont .account_btn-cont .dropdown_icon-wrap {
  height: 50px;
  padding: 0 2px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease;
}
.account-cont .account_btn-cont .dropdown_icon-wrap i {
  font-size: 1rem;
  color: var(--text-color1);
}
.account-cont:hover .dropdown_icon-wrap {
  background-color: var(--accountdropdown-icon-hover);
}
.account-cont .account-dropdown {
  z-index: 900;
  display: none;
  opacity: 0;
  flex-direction: column;
  transition: opacity 0.1s ease;
  position: absolute;
  top: 52px;
  right: 16px;
  border-radius: 8px;
  background-color: var(--dropdownbg-color);
  font-family: "Itim", cursive;
  overflow: hidden;
  box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  /*.ad-modalbg{
      display: none;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 10;
  }
  &:has(> **** .active) > .ad-modalbg {
      display: block;
  }*/
}
.account-cont .account-dropdown .ad-theme-cont {
  width: 100%;
  padding: 8px 0 10px;
  display: flex;
  justify-content: center;
  /*.theme-switch {
      display: none;
      //display: inline-block;
      position: relative;
      width: 54px;
      height: 30px;

      #theme-check {
          display: none;
      }

      .theme-slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          transition: 0.4s;
          border-radius: 34px;
          background-color: #fff;
      }

      #theme-check:checked+.theme-slider {
          background-color: #000;
      }

      .theme-slider:before {
          position: absolute;
          content: "";
          height: 24px;
          width: 22px;
          top: 3px;
          left: 4px;
          border-radius: 22px;
          transition: all 0.5s;
          background-color: #000;
      }

      #theme-check:checked+.theme-slider:before {
          transform: translateX(24px);
          background-color: #fff;
      }
  }*/
}
.account-cont .account-dropdown .ad-theme-cont span {
  padding: 4px 9px;
  cursor: pointer;
  background-color: var(--accountdropdown-themeswitcher);
  border-radius: 3px;
  white-space: nowrap;
  margin: 0 10px;
}
.account-cont .account-dropdown .ad-theme-cont span:hover {
  background-color: var(--accountdropdown-themeswitcher-hover);
}
.account-cont .account-dropdown .ad-linklist > li:last-child {
  border-bottom: none;
}
.account-cont .account-dropdown .ad-linklist > li > a {
  font-size: 1rem;
  padding: 4px 20px;
  text-align: center;
  color: var(--text-color1) !important;
  transition: 0.2s ease;
  cursor: pointer;
  border-bottom: 1px solid var(--modal-item-hover);
}
.account-cont .account-dropdown .ad-linklist > li > a:hover {
  background-color: var(--modal-item-hover);
}
.account-cont .account-dropdown .ad-linklist > li #loggedin-username {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--text-color1);
  font-size: 1rem;
  cursor: text;
}
.account-cont .account-dropdown .ad-linklist > li #loggedin-username:hover {
  background-color: unset !important;
}
.account-cont .account-dropdown .acc_dd_redbutton {
  margin-top: 14px;
  padding: 4px 20px;
  text-align: center;
  color: #ffffff;
  transition: 0.2s ease;
  background-color: #b73d3d;
  cursor: pointer;
}
.account-cont .account-dropdown .acc_dd_redbutton:hover {
  background-color: #b94f4f;
}

.filter-tagdd-cont {
  padding-top: 6%;
}
.filter-tagdd-cont .filter-tagdd {
  display: flex;
  flex-direction: column;
  height: 340px;
  width: 240px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--modal-background);
  box-shadow: 0px 0px 6px 0px var(--div-boxshadow1);
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-tagdd-cont .filter-tagdd .tagdd-header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.filter-tagdd-cont .filter-tagdd .tagdd-header .tagdd-searchbar {
  padding: 2px 6px;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  flex-shrink: 1;
  border: 1px solid var(--text-color1);
}
.filter-tagdd-cont .filter-tagdd .tagdd-header > i {
  margin: 0 4px 0 20px;
  margin-right: 4px;
  font-size: 1.3rem;
  flex-shrink: 0;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
  cursor: pointer;
}
.filter-tagdd-cont .filter-tagdd > ul {
  flex-grow: 1;
  overflow-y: auto;
}
.filter-tagdd-cont .filter-tagdd > ul > li {
  width: 100%;
  padding: 6px 20px;
  overflow: hidden;
  cursor: pointer;
}
.filter-tagdd-cont .filter-tagdd > ul > li:hover {
  background-color: var(--modal-item-hover);
}

.filter-addseries-cont {
  padding-top: 6%;
}
.filter-addseries-cont .filter-addseries {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 260px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--modal-background);
  box-shadow: 0px 0px 6px 0px var(--div-boxshadow1);
  padding-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.filter-addseries-cont .filter-addseries .fadds-header {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.filter-addseries-cont .filter-addseries .fadds-header .fadds-searchbar {
  padding: 2px 6px;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  flex-shrink: 1;
  border: 1px solid var(--text-color1);
}
.filter-addseries-cont .filter-addseries .fadds-header > i {
  margin: 0 4px 0 20px;
  margin-right: 4px;
  font-size: 1.3rem;
  flex-shrink: 0;
  text-shadow: 0px 0px 6px var(--text-boxshadow1);
  cursor: pointer;
}
.filter-addseries-cont .filter-addseries .fadds-dropdowns {
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px 6px;
}
.filter-addseries-cont .filter-addseries .fadds-dropdowns > select {
  outline: none;
  border: none;
  background: var(--background-color5);
  color: var(--text-color1);
  padding: 4px;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
.filter-addseries-cont .filter-addseries .fadds-list {
  flex-grow: 1;
  overflow-y: auto;
}
.filter-addseries-cont .filter-addseries .fadds-list > li {
  width: 100%;
  padding: 6px 20px;
  overflow: hidden;
  cursor: pointer;
}
.filter-addseries-cont .filter-addseries .fadds-list > li:hover {
  background-color: var(--modal-item-hover);
}

/*-----User card on hover / two modes-----*/
.belongs_to {
  position: relative;
}
.belongs_to:hover .usercard-onhover {
  opacity: 1;
  visibility: visible;
}
.belongs_to .usercard-onhover {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  transition-delay: 0.5s;
  position: absolute;
  bottom: 30px;
  right: 0;
  background: var(--background-color2);
  border-radius: 8px;
  box-shadow: 0 0 19px -5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color1);
}
.belongs_to .usercard-onhover .ucard-username,
.belongs_to .usercard-onhover .ucard-username-mode2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  padding: 6px 20px;
}
.belongs_to .usercard-onhover .ucard-username-mode2 {
  display: none;
}
.belongs_to .usercard-onhover > img {
  width: 60px;
  height: auto;
  border-radius: 4px;
  margin-bottom: 6px;
}
.belongs_to .usercard-onhover .ucard-part2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.belongs_to .usercard-onhover .ucard-part2 .ucard-description {
  font-size: 0.6rem;
  font-family: "Itim", cursive;
  padding: 0 6px;
}
.belongs_to .usercard-onhover .ucard-part2 .ucard-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 0.9rem;
  padding: 6px 10px;
  gap: 10px;
}
.belongs_to .usercard-onhover .ucard-part2 .ucard-stats > div {
  display: flex;
  align-items: center;
  gap: 6px;
}
.belongs_to .usercard-onhover .ucard-part2 .ucard-stats i {
  display: flex;
}
.belongs_to .usercard-onhover .ucard-part2 .ucard-stats span {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 2px;
}
.belongs_to .ucard-mode2 {
  flex-direction: row !important;
  padding: 0 10px;
}
.belongs_to .ucard-mode2 .ucard-username {
  display: none;
}
.belongs_to .ucard-mode2 .ucard-username-mode2 {
  display: block;
  padding: 6px 0 2px;
}
.belongs_to .ucard-mode2 > img {
  margin-right: 6px;
  margin-bottom: unset;
}

footer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color1);
  color: var(--text-color1);
  border-top: 2px solid var(--background-color2);
}
footer .footer-body {
  display: flex;
  flex-direction: column;
}
footer .footer-body .about_us,
footer .footer-body .contact,
footer .footer-body .useful_links {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 14px;
  gap: 10px;
}
footer .footer-body .about_us .f-section_titles,
footer .footer-body .contact .f-section_titles,
footer .footer-body .useful_links .f-section_titles {
  font-size: 1.3rem;
  font-family: "Josefin Sans", "Arial";
  border-bottom: 1px solid var(--line-red);
  align-self: flex-start;
  padding: 0 44px 0 8px;
}
footer .footer-body .about_us .about_us-body {
  font-size: 0.9rem;
  text-indent: 10px;
  font-family: "Gudea";
}
footer .footer-body .contact .contact-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
footer .footer-body .contact .contact-body .contact-item {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}
footer .footer-body .contact .contact-body .contact-item i {
  display: flex;
  font-size: 1.5rem;
}
footer .footer-body .contact .contact-body .contact-item .contact-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .footer-body .contact .contact-body .contact-item .contact-list span {
  font-size: 1rem;
  font-family: "Gudea";
}
footer .footer-body .contact .social_media {
  display: flex;
  gap: 8px 6%;
  padding: 14px 6px;
  flex-wrap: wrap;
}
footer .footer-body .contact .social_media a {
  padding: 10px;
  border-radius: 4px;
  background-color: var(--button-1);
  transition: background-color 0.1s ease-in-out;
}
footer .footer-body .contact .social_media a:hover {
  background-color: var(--button-1-hover);
}
footer .footer-body .contact .social_media a i {
  display: flex;
  font-size: 1.5rem;
}
footer .footer-body .useful_links .useful_links-body {
  padding: 6px 10px;
}
footer .footer-body .useful_links .useful_links-body ul li {
  margin-bottom: 8px;
}
footer .footer-body .useful_links .useful_links-body ul li a {
  font-family: "Gudea", "Itim";
}
footer .footer-body .useful_links .useful_links-body ul li a:hover {
  text-decoration: underline;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 2px solid var(--background-color2);
}
footer .copyright span {
  font-size: 0.9rem;
  font-family: "Gudea", "Itim";
}

@media (min-width: 576px) {
  .drawer.active {
    width: 300px !important;
  }
}
@media (min-width: 768px) {
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar {
    height: 6px;
    width: 15px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  html {
    font-size: 16px;
  }
  body {
    background-color: var(--background-color2);
  }
  header .header-wrap {
    padding: 10px;
  }
  header .searchbar-cont {
    padding-top: 4px;
  }
  .account-cont {
    display: flex;
  }
  .logo-cont {
    display: flex;
  }
  .drawerbtn-cont {
    display: none;
  }
  footer .footer-body {
    flex-direction: row;
  }
  footer .footer-body .about_us {
    width: 40%;
  }
  footer .footer-body .contact,
footer .footer-body .useful_links {
    width: 30%;
  }
  .filter-tagdd {
    width: 280px;
  }
  .filter-addseries {
    width: 344px;
  }
  .darkmode {
    --pd-actionbtns-color: #313131 !important;
  }
  .lightmode {
    --pd-actionbtns-color: #dcdcdc !important;
  }
}
@media (min-width: 1200px) {
  .logo-cont span {
    font-size: 2.5rem;
  }
  .account-dropdown .ad-linklist > li > a,
.account-dropdown .acc_dd_redbutton {
    font-size: 1.4rem !important;
  }
}
@media (min-width: 360px) {
  .shortcuts-cont .chat-shortcut,
.shortcuts-cont .notifications-shortcut {
    display: block;
  }
  .drawer .dw-chat-btn,
.drawer .dw-notifications-btn {
    display: none;
  }
  .search-shortcut {
    display: none;
  }
  .searchbar-cont {
    display: flex;
  }
}
@media (min-width: 1300px) {
  .searchbar-wrap {
    max-width: 550px !important;
  }
}
@media (max-width: 767.98px) {
  .main-cont {
    padding: 0 0 30px;
    margin: 0;
    max-width: unset;
    width: 100%;
  }
}
@media (max-width: 260px) {
  .filter-tagdd,
.filter-addseries,
.login-modal,
.orderby-box,
.filter-box,
.theme-switcher {
    width: 100% !important;
  }
}/*# sourceMappingURL=site.css.map */