/*----------SETTINGS---------*/
html {
    font-size: 14px;
    position: relative;
    height: 100%;
}
body{
    padding:0;
    margin:0;
    height: 100%;
}
ul,ol,li,b,h1,h2,h3,h4,h6,a,p{
    text-decoration: none;
    padding: 0;
    margin:0;
    display: block;
    color:#1D1D1D;
}
a:hover{
    color: inherit;
}
.body-click{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 899;
}

/*--------DARK MODE----------*/
$sitebgcolor: #1D1D1D;
$frontbgcolor: #313131;
$textcolor:#ffffff;
$searchplaceholdercolor: #939393;

$textcolor_hover1: #b6c1e3;
$frontbgcolor_hover1:#373737;

$textcolor_boxshadow:#ffffff50;
$frontbgcolor_boxshadow:#31313150;

/*-----------DESIGN-------------*/
body{
    background-color: $frontbgcolor;
}
.main-cont{
    min-height: 100%;
}

header{
    background-color: $sitebgcolor;
    /*padding: 20px 0;*/
    .header-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 5.1rem;
    }
}
.drawer-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    i{
        color: $textcolor;
        font-size:3.4rem;
        text-shadow: 0px 0px 6px $textcolor_boxshadow;
        cursor: pointer;
        &:hover {
            font-size: 3.2rem;
        }
    }
}

.logo-cont{
    display: none;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    span{
        font-size: 2rem;
        font-family: 'Kaushan Script', cursive;
        color: $textcolor;
        text-shadow: 0px 0px 6px $textcolor_boxshadow;
        cursor: pointer;
    }
}

.searchbar-cont{
    flex-grow: 1;
    padding: 4px 26px 0;
    display: none;
    align-items: center;
    justify-content: center;
    .searchbar-wrap{
        width: 100%;
        max-width: 400px;
        position: relative;
        i{
            position: absolute;
            color: $textcolor;
            font-size: 1.4rem;
            right: 10px;
            top: 50%;
            transform: translateY(-50%) rotateY(180deg);
        }
        .searchbar{
            font-size:1.2rem;
            color: $textcolor;
            background-color: $frontbgcolor;
            box-shadow: 0px 0px 6px 0px $frontbgcolor_boxshadow;
            padding: 6px 42px 6px 10px;
            border: none;
            outline: none;
            width: 100%;
            margin:0 auto;
            border-radius: 4px;
        
            ::placeholder {
                color: $searchplaceholdercolor;
                opacity: 1;
            }
            ::-ms-input-placeholder {
                color: $searchplaceholdercolor;
            }
        }
    }
}
.header_right_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    /*height: 100%;*/
}
.shorcuts-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > i{
        color: $textcolor;
        font-size:2.4rem;
        margin-right:16px;
        text-shadow: 0px 0px 6px $textcolor_boxshadow;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
            color: $textcolor_hover1;
        }
    }
    > i:last-child{
        margin-right: 0;
    }
}

.account-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    position: relative;
    .ppic-wrap{
        width: 50px;
        height: 50px;
        background-color: gray;
        border-radius: 6px;
        cursor: pointer;
        img{
            width: 100%;
            height: 100%;
            border-radius: 6px;
        }
    }
    .dropdown_icon-wrap{
        height: 50px;
        padding: 0 2px;
        background-color: $frontbgcolor;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.1s ease;
        i{
            font-size: 1rem;
            color: $textcolor;
        }
    }
    &:hover .dropdown_icon-wrap{
        background-color: $frontbgcolor_hover1;
    }

    .account-dropdown{
        z-index: 900;
        display:none;
        opacity:0;
        transition:0.1s ease opacity;
        position: absolute;
        top: 52px;
        right: 0;
        border-radius: 8px;
        background-color: $frontbgcolor;
        font-size: 2rem;
        font-family: 'Itim', cursive;
        overflow: hidden;
        -webkit-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.2);
        box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.2);
        > ul{
            > li {
                border-bottom: 1px solid $frontbgcolor_hover1;
                &:last-child{
                    border-bottom: none;
                }
                > a{
                    padding: 4px 20px;
                    text-align: center;
                    color: $textcolor !important;
                    transition: 0.2s ease;
                    &:hover{
                        background-color: $frontbgcolor_hover1;
                    }
                }
            }
        }
        .a_dd_settings{
            margin-top: 14px;
            padding: 4px 20px;
            text-align: center;
            color: #ffffff;
            transition: 0.2s ease;
            background-color: #b73d3d;
            &:hover{
                background-color: #b94f4f;
            }
        }
    }
}



/*----------TEMPLATE_MOBILE----------*/
.donate-shortcut{
    display: none;
}
.account-cont{
    display: none;
}
/*----------TEMPLATE_DESKTOP---------*/
@media (min-width: 576px) {
    .donate-shortcut{
        display:block;
    }
    .search-shortcut{
        display:none;
    }
    .searchbar-cont{
        display: flex;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .account-cont{
        display:flex;
    }
    .logo-cont{
        display: flex;
    }
    .drawer-cont{
        display: none;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .logo-cont {
        padding-left: 24px;
        span{
            font-size: 2.5rem;
        }
    }
}

// Custom
@media (min-width: 1300px) {
    .searchbar-wrap{
        max-width: 550px !important;
    }
    .drawer-cont{
        padding-left: 16px;
    }
    .header_right_section{
        padding-right: 16px;
    }
}