/*--------DARK MODE----------*/
/*----------SETTINGS---------*/
html {
  font-size: 14px;
  position: relative;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

ul, ol, li, b, h1, h2, h3, h4, h6, a, p {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
}

a:hover {
  color: inherit;
}

.body-outside {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 200;
}

.f-modaldarkness {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3764705882);
  z-index: 506;
}

/*-----------DESIGN-------------*/
body {
  background-color: #1D1D1D;
}

.main-cont {
  min-height: 100%;
}

header {
  background-color: #1D1D1D;
  /*padding: 20px 0;*/
}
header .header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.1rem;
}

.drawerbtn-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4rem;
}
.drawerbtn-cont i {
  color: #ffffff;
  font-size: 3.4rem;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3137254902);
  cursor: pointer;
}
.drawerbtn-cont i:hover {
  font-size: 3.2rem;
}

.drawer-active {
  width: 70% !important;
}

.drawer {
  display: flex;
  flex-direction: column;
  z-index: 550;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #1D1D1D;
  font-size: 1.8rem;
  font-family: "Itim", cursive;
  overflow-x: hidden;
  transition: width 0.3s ease;
}
.drawer .dw-top {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  border-bottom: 1px solid #313131;
  padding-bottom: 10px;
}
.drawer .dw-top .dw-close {
  padding: 10px;
  flex-shrink: 0;
}
.drawer .dw-top .dw-close i {
  font-size: 2rem;
}
.drawer .dw-top .dw-account {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.drawer .dw-top .dw-account .dw-userimg {
  display: flex;
  justify-content: center;
  padding: 1rem 0 10px;
}
.drawer .dw-top .dw-account .dw-userimg img {
  width: 4rem;
  height: 4rem;
  border-radius: 6px;
}
.drawer .dw-top .dw-account .dw-username {
  font-family: "Doppio One", sans-serif;
  padding-bottom: 8px;
  font-size: 1.1rem;
}
.drawer .dw-top .dw-account .dw-acc-info {
  font-family: "Hubballi", cursive;
  padding-bottom: 6px;
  font-size: 1.2rem;
}
.drawer .dw-icon-cont {
  width: 2.4rem;
}
.drawer .dw-icon-cont i {
  font-size: 1.4rem;
}
.drawer .dw-list {
  padding-top: 10px;
  overflow-y: auto;
}
.drawer .dw-list > ul > li > a {
  padding: 4px 20px;
  color: #ffffff !important;
  transition: 0.2s ease;
  display: flex;
}
.drawer .dw-list > ul > li > a:hover {
  background-color: #313131;
}
.drawer .dw-settings {
  margin-top: auto;
  padding: 4px 20px;
  color: #ffffff;
  transition: 0.2s ease;
  background-color: #b73d3d;
  display: flex;
}
.drawer .dw-settings:hover {
  background-color: #b94f4f;
}

.logo-cont {
  display: none;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}
.logo-cont span {
  font-size: 2rem;
  font-family: "Kaushan Script", cursive;
  color: #ffffff;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3137254902);
  cursor: pointer;
}

.searchbar-cont {
  flex-grow: 1;
  padding: 4px 26px 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.searchbar-cont .searchbar-wrap {
  width: 100%;
  max-width: 400px;
  position: relative;
}
.searchbar-cont .searchbar-wrap i {
  position: absolute;
  color: #ffffff;
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotateY(180deg);
}
.searchbar-cont .searchbar-wrap .searchbar {
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #313131;
  box-shadow: 0px 0px 6px 0px rgba(49, 49, 49, 0.3137254902);
  padding: 6px 42px 6px 10px;
  border: none;
  outline: none;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}
.searchbar-cont .searchbar-wrap .searchbar ::-moz-placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar :-ms-input-placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar ::placeholder {
  color: #939393;
  opacity: 1;
}
.searchbar-cont .searchbar-wrap .searchbar ::-ms-input-placeholder {
  color: #939393;
}

.header_right_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  /*height: 100%;*/
}

.shorcuts-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shorcuts-cont > i {
  color: #ffffff;
  font-size: 2.4rem;
  margin-right: 16px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.3137254902);
  cursor: pointer;
  transition: 0.3s ease;
}
.shorcuts-cont > i:hover {
  color: #cccccc;
}
.shorcuts-cont > i:last-child {
  margin-right: 0;
}

.account-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px 0 30px;
  position: relative;
}
.account-cont .ppic-wrap {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}
.account-cont .ppic-wrap img {
  width: 100%;
  height: 100%;
}
.account-cont .dropdown_icon-wrap {
  height: 50px;
  padding: 0 2px;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s ease;
}
.account-cont .dropdown_icon-wrap i {
  font-size: 1rem;
  color: #ffffff;
}
.account-cont:hover .dropdown_icon-wrap {
  background-color: #373737;
}
.account-cont .account-dropdown {
  z-index: 900;
  display: none;
  opacity: 0;
  transition: opacity 0.1s ease;
  position: absolute;
  top: 52px;
  right: 16px;
  border-radius: 8px;
  background-color: #313131;
  font-size: 1rem;
  font-family: "Itim", cursive;
  overflow: hidden;
  box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.2);
}
.account-cont .account-dropdown > ul > li {
  border-bottom: 1px solid #373737;
}
.account-cont .account-dropdown > ul > li:last-child {
  border-bottom: none;
}
.account-cont .account-dropdown > ul > li > a {
  padding: 4px 20px;
  text-align: center;
  color: #ffffff !important;
  transition: 0.2s ease;
}
.account-cont .account-dropdown > ul > li > a:hover {
  background-color: #373737;
}
.account-cont .account-dropdown .acc_dd_settings {
  margin-top: 14px;
  padding: 4px 20px;
  text-align: center;
  color: #ffffff;
  transition: 0.2s ease;
  background-color: #b73d3d;
}
.account-cont .account-dropdown .acc_dd_settings:hover {
  background-color: #b94f4f;
}

.donate-shortcut {
  display: none;
}

.account-cont {
  display: none;
}

@media (min-width: 576px) {
  .drawer-active {
    width: 300px !important;
  }
}
@media (min-width: 768px) {
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
  html {
    font-size: 16px;
  }
  body {
    background-color: #313131;
  }
  .account-cont {
    display: flex;
  }
  .logo-cont {
    display: flex;
  }
  .drawerbtn-cont {
    display: none;
  }
}
@media (min-width: 1200px) {
  .logo-cont span {
    font-size: 2.5rem;
  }
  .account-dropdown {
    font-size: 1.6rem !important;
  }
}
@media (min-width: 360px) {
  .search-shortcut {
    display: none;
  }
  .searchbar-cont {
    display: flex;
  }
  .donate-shortcut {
    display: block;
  }
}
@media (min-width: 1300px) {
  .searchbar-wrap {
    max-width: 550px !important;
  }
}
@media (max-width: 767.98px) {
  .main-cont {
    padding: 0;
    margin: 0;
    max-width: unset;
    width: 100%;
  }
}/*# sourceMappingURL=site.css.map */