
/*--------DARK MODE----------*/
$sitebgcolor: #1D1D1D;
$frontbgcolor: #313131;
$textcolor:#ffffff;
$searchplaceholdercolor: #939393;

$textcolor_hover1: #cccccc;
$frontbgcolor_hover1:#373737;

$textcolor_boxshadow:#ffffff50;
$frontbgcolor_boxshadow:#31313150;