
/*--------DARK MODE----------*/
$sitebgcolor: #1D1D1D;
$frontbgcolor: #313131;
$textcolor:#ffffff;
$textcolor2:#bababa;
$searchplaceholdercolor: #939393;

$textcolor_hover1: #cccccc;
$frontbgcolor_hover1:#373737;
$frontbgcolor_hover2:#4E4E4E;
$frontbgcolor_hover3:#5e5e5e;
$frontbgcolor_hover4:#3b3b3b;

$textcolor_boxshadow:#ffffff50;
$textcolor_boxshadow2:#ffffff70;
$frontbgcolor_boxshadow:#31313150;