:root, .darkmode {
  --background-color1: #1D1D1D;
  --background-color2: #313131;
  --background-color3: #323232;
  --background-color4: #373737;
  --background-color5: #4E4E4E;
  --background-color6: #5e5e5e;
  --body-bg: #232323;
  --text-color1: #ffffff;
  --text-color2: #bababa;
  --text-color3: #cccccc;
  --div-boxshadow1: #31313150;
  --text-boxshadow1: #ffffff50;
  --text-boxshadow2: #ffffff70;
  --cont-bordercolor1: #595959;
  --modal-background: #313131;
  --modal-line1: #3b3b3b;
  --modal-item-hover: #373737;
  --headericon-color: #ffffff;
  --accountdropdown-icon-hover: #ffffff10;
  --dropdownbg-color: #313131;
  --accountdropdown-themeswitcher: #454545;
  --accountdropdown-themeswitcher-hover: #4f4f4f;
  --shortcuticons-color: #ffffff;
  --searchbar-bg-color: #313131;
  --searchbar-boxshadow: #31313150;
  --navlink-readingtime-color: #415050;
  --navlink-readingtime-color-hover: #607d7d;
  --navlink-aboutyou-color: #473c3c;
  --navlink-aboutyou-color-hover: #6c5959;
  --navlink-others-color: #494152;
  --navlink-others-color-hover: #5f5a66;
  --index-post-bg-color: #313131;
  --cont-bgcolor1: #313131;
  --cont-bgcolor2: #454545;
  --register-form-color: #404040;
  --register-input-color: #1d1d1d;
  --publish-form-color: #404040;
  --publish-input-color: #1d1d1d;
  --pd-actionbtns-color: #444444;
  --pd-actionbtns-color-hover1: #5e5e5e;
  --pd-actionbtns-color2: #444444;
  --pd-actionbtns-color-hover2: #5e5e5e;
  --comment-menu-bgcolor: #3b3b3b;
  --reply-bgcolor: #313131;
  --replies-bgcolor: #424242;
  --settings-hovernav: #252525;
  --settings-activetab: #3e6e7a;
  --profile-activetab: #3e6e7a;
  --profile-post-color: #272727;
  --tabrefresh-background-color: #2d2d2d;
  --postskeleton-itemcolor-start: #434343;
  --postskeleton-itemcolor-end: #686868;
  --commentskeleton-itemcolor-start: #434343;
  --commentskeleton-itemcolor-end: #686868;
  --profileskeleton-itemcolor-start: #434343;
  --profileskeleton-itemcolor-end: #686868;
  --postmainskeleton-itemcolor-start: #434343;
  --postmainskeleton-itemcolor-end: #686868;
  --button-red: #963a3a;
  --button-red-hover: #a34a4a;
  --button-blue: #3d779e;
  --button-blue-hover: #6799ba;
  --button-green: #247b31;
  --button-green-hover: #4c8d56;
  --button-1: #313131;
  --button-1-hover: #404040;
  --line-red: #9c3030;
}

.lightmode {
  --background-color1: #f0f0f0;
  --background-color2: #dcdcdc;
  --background-color3: #b5b5b5;
  --background-color4: #d1d8db;
  --background-color5: #c5c5c5;
  --background-color6: #c5c5c5;
  --body-bg: #e9e9e9;
  --text-color1: #282828;
  --text-color2: #393939;
  --text-color3: #757575;
  --div-boxshadow1: #e5e5e550;
  --text-boxshadow1: #00000050;
  --text-boxshadow2: #00000070;
  --cont-bordercolor1: #dcdcdc;
  --modal-background: #dcdcdc;
  --modal-line1: #b5b5b5;
  --modal-item-hover: #d1d8db;
  --headericon-color: #ffffff;
  --accountdropdown-icon-hover:#00000010;
  --dropdownbg-color: #e7e7e7;
  --accountdropdown-themeswitcher: #d2d2d2;
  --accountdropdown-themeswitcher-hover: #c1c1c1;
  --shortcuticons-color: #626262;
  --searchbar-bg-color: #f0f0f0;
  --searchbar-boxshadow: #6868684f;
  --navlink-readingtime-color: #9298b9;
  --navlink-readingtime-color-hover: #777ea8;
  --navlink-aboutyou-color: #a08888;
  --navlink-aboutyou-color-hover: #8d6767;
  --navlink-others-color: #9a90a6;
  --navlink-others-color-hover: #816f96;
  --index-post-bg-color: #ffffff;
  --cont-bgcolor1: #f9f9f9;
  --cont-bgcolor2: #ffffff;
  --register-form-color: #f0f0f0;
  --register-input-color: #dcdcdc;
  --publish-form-color: #f0f0f0;
  --publish-input-color: #dcdcdc;
  --pd-actionbtns-color: #c7c7c7;
  --pd-actionbtns-color-hover1: #c5c5c5;
  --pd-actionbtns-color2: #c7c7c7;
  --pd-actionbtns-color-hover2: #bbbbbb;
  --comment-menu-bgcolor: #e3e3e3;
  --reply-bgcolor: #dcdcdc;
  --replies-bgcolor: #f0f0f0;
  --settings-hovernav: #e3e3e3;
  --settings-activetab: #32a1bc;
  --profile-activetab: #32a1bc;
  --profile-post-color: #ffffff;
  --tabrefresh-background-color: #dcdcdc;
  --postskeleton-itemcolor-start: #313131;
  --postskeleton-itemcolor-end: #858585;
  --commentskeleton-itemcolor-start: #d1d5db;
  --commentskeleton-itemcolor-end: #b9cdec;
  --profileskeleton-itemcolor-start: #d1d5db;
  --profileskeleton-itemcolor-end: #b9cdec;
  --postmainskeleton-itemcolor-start: #d1d5db;
  --postmainskeleton-itemcolor-end: #b9cdec;
  --button-red: #c76363;
  --button-red-hover: #e05050;
  --button-blue: #63a3cf;
  --button-blue-hover: #5685a3;
  --button-green: #61b96e;
  --button-green-hover: #4c9156;
  --button-1: #dcdcdc;
  --button-1-hover: #c3d3e3;
  --line-red: #ff7777;
}

/*
.darkmode{
    --background-color1: #1D1D1D;
    --background-color2: #313131;
    --background-color4:#373737;
    --background-color5:#4E4E4E;
    --background-color6:#5e5e5e;
    --background-color3:#3b3b3b;
    --div-boxshadow1:#31313150;

    --text-color1: #ffffff;
    --text-color2:#bababa;
    --text-color3: #cccccc;
    --text-boxshadow1:#ffffff50;
    --text-boxshadow2:#ffffff70;
}*//*# sourceMappingURL=theme.css.map */