@{
    ViewData["Title"] = "Settings";
    @section Stylesheets {
    <link rel="stylesheet" href="~/css/settings.css" asp-append-version="true" />
    }
    @section Scripts {
    <script src="~/js/settings.js" asp-append-version="true"></script>
    }
}
@{
    string userId = "-1";
    string username = "";
    string userPicture = "none";

    userId = User.Claims.FirstOrDefault(claim => claim.Type == "nameid")?.Value ?? "-1";
    username = User.Claims.FirstOrDefault(claim => claim.Type == "unique_name")?.Value ?? "";
    userPicture = User.Claims.FirstOrDefault(claim => claim.Type == "actort")?.Value ?? "none";
}

<nav>
    <div class="settings-goback">
        <a href="#">Go back</a>
    </div>
    <div class="settings-link_cont">
        <div class="mobile_nav">
            <a data-href="/settings/profile"><i class="bi bi-person"></i></a>
            <a data-href="/settings/library"><i class="bi bi-collection"></i></a>
            <a data-href="/settings/friends"><i class="bi bi-people"></i></a>
            <a data-href="/settings"><i class="bi bi-gear"></i></a>
            <a data-href="/settings/customize"><i class="bi bi-sliders2"></i></a>
        </div>
        <ul class="desktop_nav">
            <li><a data-href="/settings/profile">Profile</a></li>
            <li><a data-href="/settings/library">Library</a></li>
            <li><a data-href="/settings/friends">Friends</a></li>
            <li><a data-href="/settings">Settings</a></li>
            <li><a data-href="/settings/customize">Customize</a></li>
        </ul>
    </div>
</nav>
<div class="settings_body">
    <div class="s-friends">
        <div class="sf-header">
            <div class="searchF-wrap">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="Search friend" class="searchF">
            </div>
            <button class="addfriend">
                Friend <i class="bi bi-plus"></i>
            </button>
        </div>
        <div class="sf-list">
            <div class="sf-usercont">
                <div class="userpic">
                    <img src="/images/users/user_no_photo_300x300.png">
                </div>
                <div class="username">
                    <a href="#">MrBombastic</a>
                </div>
                <div class="usermenubtn">
                    <i class="bi bi-caret-down-fill"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="s-profile_settings">
        <div class="ps-row">
            <div class="ps-cell">
                <span>Display Name</span>
                <input type="text" placeholder="Display name">
            </div>
            <div class="ps-cell">
                <span>Username</span>
                <input type="text" placeholder="Username">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span>E-Mail</span>
                <input type="text" placeholder="E-Mail">
            </div>
            <div class="ps-cell">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span>Bio</span>
                <textarea placeholder="Bio"></textarea>
            </div>
            <div class="ps-cell">
                <span>Profile picture</span>
                <div class="ps-ppic_cont">

                </div>
            </div>
        </div>
        <div class="ps-row">
            <h2 class="ps-preferences">Preferences</h2>
        </div>
        <div class="ps-row psr-preferences">
            <div class="ps-cell">
                <label>Allow adult content <input type="checkbox"></label>
            </div>
            <div class="ps-cell">
                <span>Language</span>
                <select>
                    <option value="0">None</option>
                    <option value="1">English</option>
                </select>
            </div>
        </div>
        <div class="ps-row psr-actions">
            <button>Revert</button>
            <button>Save</button>
        </div>
    </div>

</div>