@{
    ViewData["Title"] = "Settings";
    @section Stylesheets {
    <link rel="stylesheet" href="~/css/settings.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/postitem.css" asp-append-version="true" />
    }
    @section Scripts {
    <script src="~/js/settings.js" asp-append-version="true"></script>
    }
}
@{
    string? userId = User.FindFirst("nameid")?.Value;
    string? username = User.FindFirst("unique_name")?.Value;
    string? userPicture = User.FindFirst("actort")?.Value;
}
<template id="accountSettings_instance">
    <div class="s-account_settings dflex">
        <div class="ps-row">
            <div class="ps-cell">
                <span>Username</span>
                <input type="text" placeholder="Username" name="as-username">
            </div>
            <div class="ps-cell">
                <span>Display Name</span>
                <input type="text" placeholder="Display Name" name="as-displayname">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span class="email_title">
                    E-Mail
                    <a href="#" class="email_confirm">(Confirm)</a>
                    <a href="#" class="email_change">(Change)</a>
                </span>
                <input type="text" placeholder="E-Mail" name="as-email">
            </div>
            <div class="ps-cell">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span>Bio</span>
                <textarea placeholder="Bio" name="as-bio"></textarea>
            </div>
            <div class="ps-cell">
                <span>Profile picture</span>
                <div class="ps-ppic_cont">
                    <img src="" class="as-profile_picture" alt="Account settings - Profile picture">
                    <button type="button" class="change_pp-btn">Change</button>
                </div>
            </div>
        </div>
        <div class="ps-row psr-actions">
            <button>Revert</button>
            <button class="as-savebtn">Save</button>
        </div>
    </div>
</template>

<nav>
    <div class="settings-goback">
        <a href="#">Go back</a>
    </div>
    <div class="settings-link_cont">
        <div class="mobile_nav">
            <a data-href="/settings/account"><i class="bi bi-person"></i></a>
            <a data-href="/settings"><i class="bi bi-gear"></i></a>
            <a data-href="/settings/customize"><i class="bi bi-sliders2"></i></a>
        </div>
        <ul class="desktop_nav">
            <li><a data-href="/settings/account">Account</a></li>
            <li><a data-href="/settings">Settings</a></li>
            <li><a data-href="/settings/customize">Customize</a></li>
        </ul>
    </div>
</nav>
<div class="settings_body">
    <div class="s-account_skel pre_load">
        <div class="ps-row">
            <div class="ps-cell">
                <span>Username</span>
                <input type="text" placeholder="Loading...">
            </div>
            <div class="ps-cell">
                <span>Display Name</span>
                <input type="text" placeholder="Loading...">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span>E-Mail</span>
                <input type="text" placeholder="Loading...">
            </div>
            <div class="ps-cell">
            </div>
        </div>
        <div class="ps-row">
            <div class="ps-cell">
                <span>Bio</span>
                <textarea placeholder="Loading..."></textarea>
            </div>
            <div class="ps-cell">
                <span>Profile picture</span>
                <div class="ps-ppic_cont">

                </div>
            </div>
        </div>
        <div class="ps-row psr-actions">
            <button>Revert</button>
            <button>Save</button>
        </div>
    </div>

        <!--
        <div class="ps-row">
            <h2 class="ps-preferences">Preferences</h2>
        </div>
        <div class="ps-row psr-preferences">
            <div class="ps-cell">
                <label>Allow adult content <input type="checkbox"></label>
            </div>
            <div class="ps-cell">
                <span>Language</span>
                <select>
                    <option value="0">None</option>
                    <option value="1">English</option>
                </select>
            </div>
        </div>
        -->

    <div class="s-settings_skel pre_load">
        <h3>This is settings</h3>
    </div>

    <div class="s-customize_skel pre_load">
        <h3>This is customize</h3>
    </div>
</div>