<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OmneFictio</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Doppio+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gudea&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Stylesheets", required: false)
</head>
<body>
    <div class="body-outside"></div>
    
    <div class="drawer">
        <div class="dw-top">
            <div class="dw-account">
                <div class="dw-userimg">
                    <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-0.jpg">
                </div>
                <!--<i class="bi bi-person-bounding-box dw-userimg"></i>-->
                <span class="dw-username">MrBombastic</span>
                <span class="dw-acc-info">Points: 152254</span>
                <span class="dw-acc-info">Avg rate: 8.4/10</span>
            </div>
            <div class="dw-close">
                <i class="bi bi-x-lg"></i>
            </div>
        </div>
        <div class="dw-list">
            <ul>
                <li><a href="#"><div class="dw-icon-cont"><i class="bi bi-person"></i></div>Profile</a></li>
                <li><a href="#"><div class="dw-icon-cont"><i class="bi bi-book"></i></div>Library</a></li>
                <li><a href="#"><div class="dw-icon-cont"><i class="bi bi-currency-dollar"></i></div>Donate</a></li>
                <li><a href="#"><div class="dw-icon-cont"><i class="bi bi-people"></i></div>Friends</a></li>
                <li><a href="#"><div class="dw-icon-cont"></div>News</a></li>
                <li><a href="#"><div class="dw-icon-cont"><i class="bi bi-clock-history"></i></div>History</a></li>
            </ul>
        </div>
        <a href="#" class="dw-settings"><div class="dw-icon-cont"><i class="bi bi-gear-fill"></i></div>Settings</a>
    </div>
    <header>
        <div class="container-fluid header-wrap">
            <div class="drawerbtn-cont">
                <i class="bi bi-list"></i>
            </div>
            <div class="logo-cont">
                <span>OmneFictio</span>
            </div>
            <div class="searchbar-cont">
                <div class="searchbar-wrap">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search" class="searchbar">
                </div>
            </div>
            <div class="header_right_section">
                <div class="shorcuts-cont">
                    <i class="bi bi-search search-shortcut"></i>
                    <i class="bi bi-currency-dollar donate-shortcut"></i>
                    <i class="bi bi-plus-circle-fill"></i>
                    <i class="bi bi-bell-fill"></i>
                </div>
                <div class="account-cont">
                    <div class="ppic-wrap">
                        <img src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-0.jpg">
                    </div>
                    <div class="dropdown_icon-wrap">
                        <i class="bi bi-caret-down-fill"></i>
                    </div>
                    <div class="account-dropdown">
                        <ul>
                            <li><a href="#">Anasayfa</a></li>
                            <li><a href="#">Anasaasyfa</a></li>
                            <li><a href="#">Anayfa</a></li>
                            <li><a href="#">Anasaffyfa</a></li>
                            <li><a href="#">Anasafffa</a></li>
                        </ul>
                        <a href="#" class="acc_dd_settings">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container main-cont">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--RenderSection("Scripts", required: false)-->
</body>
</html>
